$primary-color: #3b99d7;
$primary-color-tint: #d9edf7;
$primary-color-shade: #337ab7;
$grey-1: #31383e;
$grey-2: #f6f6f6;
$grey-3: #fff;
$primary-font: 'Ubuntu', sans-serif;
$primary-fz: 1.5rem;
$secondary-fz: 1.6rem;
$primary-trans: all 0.2s;
