<section class='cart row gx-5'>
  <div class='cart-slider col-3 d-flex flex-column'>
    <h1
      class='cart-heading text-uppercase text-center d-flex justify-content-center'
    >Cart</h1>
    <i class='fa-regular fa-xmark cart-close-btn'></i>
    <ul class='product-list'>
      <li>
        <a class='product-item row mx-0 gx-0' href='#'>
          <div class='product-img col-2 d-flex align-items-center'>
            <img
              src='/img/products/ky-thuat-lap-trinh.png'
              alt='product image'
            />
          </div>
          <div class='col-9'>
            <p class='product-title'>Ky thuat lap trinh</p>
            <p class='product-quantity-price'>
              <span class='product-quantity'>1</span>x
              <span class='product-price'>500.000đ</span>
            </p>
          </div>
          <i
            class='fa-thin fa-circle-xmark col-1 product-close-btn d-flex align-items-center'
          ></i>
        </a>
      </li>
      <li>
        <a class='product-item row mx-0 gx-0' href='#'>
          <div class='product-img col-2 d-flex align-items-center'>
            <img src='/img/products/mien-dich-hoc.jpeg' alt='product image' />
          </div>
          <div class='col-9'>
            <p class='product-title'>Mien dich hoc</p>
            <p class='product-quantity-price'>
              <span class='product-quantity'>1</span>x
              <span class='product-price'>200.000đ</span>
            </p>
          </div>
          <i
            class='fa-thin fa-circle-xmark col-1 product-close-btn d-flex align-items-center'
          ></i>
        </a>
      </li>
      <li>
        <a class='product-item row mx-0 gx-0' href='#'>
          <div class='product-img col-2 d-flex align-items-center'>
            <img
              src='/img/products/bai-tap-vat-li-dai-cuong.webp'
              alt='product image'
            />
          </div>
          <div class='col-9'>
            <p class='product-title'>Bai tap vat li dai cuong</p>
            <p class='product-quantity-price'>
              <span class='product-quantity'>1</span>x
              <span class='product-price'>500.000đ</span>
            </p>
          </div>
          <i
            class='fa-thin fa-circle-xmark col-1 product-close-btn d-flex align-items-center'
          ></i>
        </a>
      </li>
      <li>
        <a class='product-item row mx-0 gx-0' href='#'>
          <div class='product-img col-2 d-flex align-items-center'>
            <img src='/img/products/vi-sinh-vat-hoc.jpeg' alt='product image' />
          </div>
          <div class='col-9'>
            <p class='product-title'>Vi sinh vat hoc</p>
            <p class='product-quantity-price'>
              <span class='product-quantity'>1</span>x
              <span class='product-price'>500.000đ</span>
            </p>
          </div>
          <i
            class='fa-thin fa-circle-xmark col-1 product-close-btn d-flex align-items-center'
          ></i>
        </a>
      </li>
      <li>
        <a class='product-item row mx-0 gx-0' href='#'>
          <div class='product-img col-2 d-flex align-items-center'>
            <img src='/img/products/vi-sinh-vat-hoc.jpeg' alt='product image' />
          </div>
          <div class='col-9'>
            <p class='product-title'>Vi sinh vat hoc</p>
            <p class='product-quantity-price'>
              <span class='product-quantity'>1</span>x
              <span class='product-price'>500.000đ</span>
            </p>
          </div>
          <i
            class='fa-thin fa-circle-xmark col-1 product-close-btn d-flex align-items-center'
          ></i>
        </a>
      </li>
      <li>
        <a class='product-item row mx-0 gx-0' href='#'>
          <div class='product-img col-2 d-flex align-items-center'>
            <img src='/img/products/vi-sinh-vat-hoc.jpeg' alt='product image' />
          </div>
          <div class='col-9'>
            <p class='product-title'>Vi sinh vat hoc</p>
            <p class='product-quantity-price'>
              <span class='product-quantity'>1</span>x
              <span class='product-price'>500.000đ</span>
            </p>
          </div>
          <i
            class='fa-thin fa-circle-xmark col-1 product-close-btn d-flex align-items-center'
          ></i>
        </a>
      </li>
    </ul>
    <p class='cart-price text-uppercase text-center'>
      Total payment:
      <span>1.500.000đ</span>
    </p>
    <a class='btn text-uppercase' href='/order/payment-for-cart' role='button'>Pay for cart</a>
  </div>
</section>
<script src='/js/cart.js'></script>