<section class="cart row gx-5">
  <div class="cart-slider col-3 d-flex flex-column">
    <h1
      class="cart-heading text-uppercase text-center d-flex justify-content-center"
    >Cart</h1>
    <i class="fa-regular fa-xmark cart-close-btn"></i>
    <ul class="product-list">
      {{! Chèn sản phẩm vào đây  }}
    </ul>
    {{! Hiển thị giá tiền và nút thanh toán  }}
  </div>
</section>
<script src="/js/cart.js"></script>