<!-- Footer  -->
<footer class='footer align-bottom'>
  <div class='container'>

    <div class='row'>
      <div class='col-4'>
        <p class='footer-title'>2HandBook</p>
        <ul class='footer-list'>
          <li class='footer-description'>
            227 Nguyen Van Cu Str., District 5, Ho Chi Minh City
          </li>
          <li class='footer-description'>
            <i class='fa-solid fa-phone'></i>
            <span>0999.999.999</span>
          </li>
          <li class='footer-description'>
            <i class='fa-solid fa-envelope'></i>
            <span>e2handbook@gmail.com</span>
          </li>
        </ul>
      </div>
      <div class='col-4'>
        <p class='footer-title'>Policy</p>
        <ul class='footer-list'>
          <li class='footer-item'>
            <a href='#' class='footer-link'>Buying Guide</a>
          </li>
          <li class='footer-item'>
            <a href='#' class='footer-link'>Forms of Payment</a>
          </li>
          <li class='footer-item'>
            <a href='#' class='footer-link'>Information Security</a>
          </li>
        </ul>
      </div>

      <div class='col-4'>
        <p class='footer-title'>Keywords</p>
        <div class='footer-list'>
          <span class='footer-tag'>
            <a href='#' class='footer-link' onclick="globalLink('product/all-product/search?keyword=Lập trình')">Lập trình</a>
          </span>
          <span class='footer-tag'>
            <a href='http://localhost:3000/product/all-product/search?keyword=Máy+tính' class='footer-link'>Máy tính</a>
          </span>
          <span class='footer-tag'>
            <a href='http://localhost:3000/product/all-product/search?keyword=Khoa+học' class='footer-link'>Khoa học</a>
          </span>
          <span class='footer-tag'>
            <a href='http://localhost:3000/product/all-product/search?keyword=Dụng+cụ' class='footer-link'>Dụng cụ</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>