<!-- Footer  -->
<footer class='footer'>
  <div class='container'>
    <div class='footer-col'>
      <p class='footer-title'>2HandBook</p>
      <ul class='footer-list'>
        <li class='footer-item'>
          227 Nguyen Van Cu Str., District 5, Ho Chi Minh City
        </li>
        <li class='footer-item'>
          <i class='fa-solid fa-phone'></i>
          <span>0999.999.999</span>
        </li>
        <li class='footer-item'>
          <i class='fa-solid fa-envelope'></i>
          <span>e2handbook@gmail.com</span>
        </li>
      </ul>
    </div>
    <div class='footer-col'>
      <p class='footer-title'>Policy</p>
      <ul class='footer-list'>
        <li class='footer-item'>
          <a href='#' class='footer-link'>Buying Guide</a>
        </li>
        <li class='footer-item'>
          <a href='#' class='footer-link'>Forms of Payment</a>
        </li>
        <li class='footer-item'>
          <a href='#' class='footer-link'>Information Security</a>
        </li>
      </ul>
    </div>

    <div class='footer-col'>
      <p class='footer-title'>Keywords</p>
      <ul class='footer-list'>
        <li class='footer-item'>
          <a href='#' class='footer-link'>Old Books</a>
        </li>
        <li class='footer-item'>
          <a href='#' class='footer-link'>Tutorials</a>
        </li>
        <li class='footer-item'>
          <a href='#' class='footer-link'>Calculators</a>
        </li>
        <div class='footer-item'>
          <a href='#' class='footer-link'>Magazine</a>
        </div>
      </ul>
    </div>
  </div>
</footer>