<!-- Header  -->
<header class='header fixed-top light'>
  <div class='container'>
    <div class='row align-items-center'>
      <div class='col row align-items-center'>
        <div class='logo col-2'>
          <a href='http://localhost:3000/'>
            <img
              src='/img/logo/logo-dark.png'
              alt='2HandBook logo'
              class='logo-img'
            /></a>
        </div>
        <div class='search-bar align-items-center col row'>
          <input
            type='text'
            class='search-input col p-4'
            placeholder='Search...'
          />
          <a href='#' class='search-icon-link'>
            <i class='fa-solid fa-magnifying-glass search-icon'></i>
          </a>
        </div>
      </div>
      <div class='col-4 d-flex align-items-center'>
        {{#if isLoggedIn}}
          <div class='announce-container ms-auto'>
            <i class='fa-solid fa-bell announce-icon'></i>
            <ul class='announce-list'>
              <li class='announce-item'>
                <a href='#' class='announce-link'>
                  <p class='announce-title text-capitalize'>Special Events</p>
                  <p class='announce-description'>On the next month, we have
                    some exciting events for loyal customers as a big thank !!!</p>
                  <p class='announce-date'>Date: 20/07/2023 - 19:30:19</p>
                </a>
              </li>
              <li class='announce-item'>
                <a href='#' class='announce-link unread'>
                  <p class='announce-title text-capitalize'>Special Events</p>
                  <p class='announce-description'>On the next month, we have
                    some exciting events for loyal customers as a big thank !!!</p>
                  <p class='announce-date'>Date: 20/07/2023 - 19:30:19</p>
                </a>
              </li>
              <li class='announce-item'>
                <a href='#' class='announce-link'>
                  <p class='announce-title text-capitalize'>Special Events</p>
                  <p class='announce-description'>On the next month, we have
                    some exciting events for loyal customers as a big thank !!!</p>
                  <p class='announce-date'>Date: 20/07/2023 - 19:30:19</p>
                </a>
              </li>
            </ul>
          </div>
          <a
            class='text-capitalize me-5 user-profile-btn'
            href='/account/profile'
          ><i class='fa-solid fa-circle-user user-avatar'></i><span>Hi,
              {{{firstName}}}
              !</span></a>
        {{else}}
          <a
            class='btn btn-log-in text-uppercase ms-auto me-3'
            href='/account/sign-in'
            role='button'
          >sign in</a>
          <a
            class='btn btn-sign-up text-uppercase me-5'
            href='/account/sign-up'
            role='button'
          >sign up</a>
        {{/if}}
        <i class='fa-solid fa-cart-shopping cart-icon'></i>
      </div>
    </div>
  </div>
</header>
<script src='/js/header.js'></script>