<!-- Navigation  -->
<nav class='navbar navbar-expand-lg fixed-top light' >
  <div class='container'>
    <button
      class='navbar-toggler ms-auto'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
        <li class='nav-item'>
          <a class='nav-link' aria-current='page' href='http://localhost:3000/#'>Home</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/about-us'>About us & Contacts</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='#'>Support</a>
        </li>
        <li class='nav-item subnav-include'>
          <a class='nav-link' href='#'>Categories</a>
          <i class="fa-solid fa-caret-down nav-link-icon"></i>
          <ul class="subnav">
            <li class="subnav-item">
              <a href="product/all-product/category?category=Document" class="subnav-link">Document</a>
            </li>
            <li class="subnav-item">
              <a href="product/all-product/category?category=Uniform" class="subnav-link">Uniform</a>
            </li>
            <li class="subnav-item">
              <a href="product/all-product/category?category=Stationery" class="subnav-link">Stationery</a>
            </li>
            <li class="subnav-item">
              <a href="product/all-product/category?category=Others" class="subnav-link">Others</a>
            </li>
          </ul>
        </li>
      </ul>
      </form>
    </div>
  </div>
</nav>