<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link background_emphasis" href="http://localhost:3000/myorder">Success</a>
        </li>
        <li class="page-item"><a class="page-link text_black"
                href="http://localhost:3000/myorderdelivery">Delivering</a></li>
        <li class="page-item"><a class="page-link text_black"
                href="http://localhost:3000/myorderconfirmation">Pending</a></li>
        <li class="page-item"><a class="page-link text_black" href="http://localhost:3000/myordercanceled">Cancelled</a>
        </li>
    </ul>
</nav>