<div
  class="sales-page container"
  style="min-height: calc(100vh - 14rem - 17.5rem); margin-top: 14rem"
>
  <section class="row">
    {{>sales-page}}
    <section class="edit-product col-10">
      <div class="d-flex">
        <a class="edit-product-breadcrumb" href="/product/manage">
          <i class="fa-regular fa-chevron-left"></i>
          <span>Products</span>
        </a>
        <div
          class="message d-flex justify-content-center align-items-center"
          style="width: 80%; height: calc(100vh - 17.5rem - 19rem);  font-size: 2rem"
        >
          <div class="alert alert-info text-center" role="alert">
            Your changes has been sent to us - Admins of 2HandBook site.
            <br />
            Please wait for our processing.
          </div>
        </div>
      </div>
    </section>
  </section>
</div>