@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/global';

// Import components
@import 'components/buttons';
@import 'components/pagination';

// Import layouts
@import 'layouts/header';
@import 'layouts/cart';
@import 'layouts/nav';

// Import pages
@import 'pages/home';
@import 'pages/manage-product';
@import 'pages/edit-product';
@import 'pages/dashboard';

// Tuan Ro
@import 'product/specific-product';
@import 'product/all-product';
@import 'order/manage-order';
