.sales-page {
    margin-top: 14rem;

    .manage-order {
        .page-title {
            padding: 2rem;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 700;
        }

        .table {
            margin-top: 1rem;

            thead tr {
                text-align: center;
            }

            tr {
                th:first-child {
                    text-align: center;
                }

                .details,
                .details-btn {
                    text-align: center;
                }

                .accept,
                .accept-btn {
                    text-align: center;

                }

                .cancel,
                .cancel-btn {
                    text-align: center;
                }

                td a i {
                    font-size: 1.8rem;
                    cursor: pointer;
                    padding: 0.2rem 1rem;
                }

                .details-btn a {
                    color: #000;
                }

                .accept-btn a {
                    color: #1A9781;
                }

                .cancel-btn a {
                    color: #E05E5E;
                }


            }
        }

        .modal.product-details {
            .modal-dialog {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 60vh;

                .modal-content {
                    .modal-header {
                        .modal-title {
                            text-transform: uppercase;
                            font-size: 1.8rem !important;
                            font-weight: 700 !important;
                        }
                    }

                    .modal-body {
                        .manage-order {
                            max-height: 32rem;
                            overflow-y: scroll;

                            .form-check {
                                display: flex;
                                justify-content: center;
                            }

                            thead tr {
                                text-align: center;
                            }

                            tbody {
                                tr th {
                                    text-align: center;
                                    vertical-align: middle;
                                    position: sticky;
                                }

                                tr td {
                                    vertical-align: middle;
                                    word-wrap: break-word;
                                }

                                .img-product {
                                    object-fit: cover;
                                    overflow: hidden;
                                    width: 100%;
                                    height: 50px;
                                }
                            }

                        }
                    }

                }

                .modal-footer {
                    button {
                        width: 10rem;
                        height: 4rem;
                        text-align: center;
                    }

                    .btn-success {
                        background-color: #1A9781;
                    }

                    .btn-danger {
                        background-color: #E05E5E;
                    }

                    .btn-secondary {
                        background-color: #0D6BF5;
                    }
                }
            }
        }
    }
}