.admin {
  color: #fff;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 300;
  min-height: 100vh;
  margin-top: 14rem;
  .admin-sidebar {
    font-weight: 700;
    padding: 2rem 2rem;
    background: #e7e7e7;
    min-height: 100vh;
    .nav {
      align-items: center;
    }

    .nav-item {
      margin-bottom: 2rem;
      background-color: rgba(76, 171, 253, 0.3);
      border-radius: 5px;
      text-align: start;
      width: 18rem;
      .active {
        background-color: #3b99d7;
        color: #fff;
      }
    }
    .nav-link {
      color: #000;
    }
    .nav-icon {
      margin-right: 0.5rem;
    }
    .nav-title {
      display: inline-block;
      line-height: 3.6rem;
    }
  }
  .admin-article {
    padding: 2rem 2rem;
    .nav-link {
      padding: 0.5rem 2rem;
      color: #000;
    }
    .nav-item {
      .active {
        font-weight: 700;
      }
    }
    .admin-content {
      margin: 2rem 2rem;
      color: #000;
      font-family: Inter;
      font-size: 1.6rem;
      font-weight: 500;
    }
    .form-control {
      border-radius: 5px;
      border: 1px solid #000;
      background: #fff;
      color: #000;
      font-family: Inter;
      width: max;
      font-size: 1.4rem;
    }
    .form-check-input {
      border: 1px solid #000;
    }
    .title {
      margin-right: 2rem;
      font-weight: 700;
      text-align: left;
    }
    .form-check-inline {
      margin-right: 3rem;
    }
    .line-form {
      margin-bottom: 1rem;
      text-align: left;
    }
    .btn-submit {
      border-radius: 5px;
      background: #337ab7;
      color: #fff;
      text-align: center;
      font-family: Ubuntu;
      font-size: 16px;
      font-weight: 700;
      width: 16rem;
      height: 4rem;

      margin-top: 3rem;
    }
  }
  .admin-announce {
    min-height: 102rem;
    margin-bottom: 3rem;
  }
  .admin-announce-box {
    margin-bottom: 2rem;
    .content {
      max-width: 80rem;
    }
    .view-more-announcement {
      text-decoration-line: underline;
    }
  }
  .list-accounts {
    margin-bottom: 3rem;
  }
  .account-item {
    border-radius: 20px;
    background: rgba(217, 237, 247, 0.5);
    margin-bottom: 2rem;
    .btn {
      border-radius: 90px;
      padding: 0 0;
      border: 2px solid #000;
    }
    .dropdown-menu {
      --bs-dropdown-link-active-color: #fff;
      --bs-dropdown-link-active-bg: #3b99d7;
    }
    .dropdown-item {
      color: #000;
      font-family: Inter;
      font-size: 1.4rem;
    }
  }
  .account-icon {
    margin: 1rem 1rem;
    height: 5rem;
    width: 5rem;
  }
}
