.edit-product {
  @extend .container-ext;
  .edit-product-breadcrumb {
    @extend .breadcrumb-ext;
  }

  a.btn {
    @extend .btn-ext;
  }

  .edit-product-form {
    & + .edit-product-form {
      margin-left: 2rem;
      height: fit-content;
    }
    @extend .content-ext;
    .edit-product-form-item label {
      margin-bottom: 1rem;
    }
  }
  .edit-product-form-item {
    margin-bottom: 2rem;
    input,
    textarea {
      border: 0.1rem solid $color-border;
      width: 100%;
      padding-left: 1rem;
    }
    input {
      height: 4rem;
    }
    textarea {
      padding-top: 1rem;
    }
  }
  .edit-product-form-item:last-child {
    margin-bottom: -1rem;
  }
  .product-category {
    @extend .select-container-ext;
    &::after {
      top: unset;
      transform: translateY(calc(-50% + 3.4rem));
      border-top-color: $color-primary-shade;
    }
    .product-category-label {
      position: relative;
      margin-bottom: 1rem;
      &::after {
        content: '';
        @include box(1rem, 1rem, $color-primary);
        @include abs-pos(50%, -2rem);
        transform: translateY(-50%);
        border-radius: 50%;
      }
    }
    .edit-product-select {
      @extend .select-ext;
      padding-left: 3rem;
      appearance: none;
      border-right: 0.1rem solid $color-border;
    }
  }
  .product-image {
    margin-top: 2rem;
    border: 0.1rem dashed $color-border;
    @include box(100%, false);
    min-height: 50rem;
    font-size: 2rem;
    background-color: $color-text-light;
  }
  .edit-product-form-upload {
    position: relative;
  }
  .product-image.product-image-preview {
    @include abs-pos(auto, 2rem, 2.1rem, 2rem);
    border: 0.1rem dashed #ccc;
    max-width: calc(100% - 4rem);
    display: flex;

    overflow: hidden;
    padding: 2rem;
    img {
      max-height: calc(50rem - 20rem);
      overflow: scroll;
      width: fit-content;
    }
    .btn {
      margin: 3rem auto 0;
    }
  }

  button.btn {
    @include font(1.6rem, 500);
    border-radius: 0.5rem;
    background-color: $color-primary;
    padding: 0.5rem 2rem;
    transition: all 0.3s;
    color: $color-white;

    &:hover {
      background-color: $color-primary-shade;
      color: $color-white;
    }
  }
}
