// Hero section
.carousel {
  height: 100vh;
  z-index: 0;

  img {
    height: 100vh;
  }

  .carousel-indicators {
    margin-bottom: 4rem;
    [data-bs-target] {
      @include box(2rem, 2rem);
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
    }
  }

  .carousel-caption {
    bottom: 6rem;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    @include box(4rem, 4rem);
  }
}

.banner {
  margin: 4rem 9rem;
}

.banner-row {
  display: flex;
}

.banner-img {
  background: linear-gradient(
      0deg,
      rgba(49, 56, 62, 0.3) 0%,
      rgba(49, 56, 62, 0.3) 100%
    ),
    lightgray 50% / cover no-repeat;
}

.banner-article {
  margin: 5rem auto;
}
