// Hero section
.carousel {
  height: 100vh;
  z-index: 0;

  img {
    height: 100vh;
  }

  .carousel-indicators {
    margin-bottom: 4rem;
    [data-bs-target] {
      @include box(2rem, 2rem);
      border-radius: 50%;
    }
  }

  .carousel-caption {
    bottom: 6rem;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    @include box(4rem, 4rem);
  }
}
