.manage-product {
  background-color: $color-white;
  margin-top: 17rem;
  padding: 0 4rem;
  .manage-product-breadcrumb {
    font-size: $font-size-quaternary;
    line-height: 3.6rem;
  }

  .manage-product-content {
    padding: 2rem;
    margin: 2rem 0;
    border: 0.1rem solid $color-border;
    font-size: $font-size-secondary;
  }

  a.btn {
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-shade;
      box-shadow: none;
    }
  }

  .search-input,
  .manage-product-select {
    @include box(100%, 6rem);
    padding-left: 4rem;
    color: $color-text-grey;
    border: 0.1rem solid $color-border;
    border-right: none;
  }

  .manage-product-select-container {
    position: relative;
    &::after {
      content: '';
      @include abs-pos(50%, 2rem);
      transform: translateY(-50%);
      border: 0.6rem solid transparent;
      border-color: $color-text-grey transparent transparent transparent;
    }
  }

  .manage-product-select {
    padding-left: 3rem;
    appearance: none;
  }

  .col-4:last-child .manage-product-select {
    border-right: 0.1rem solid $color-border;
  }

  .manage-product-search-bar {
    position: relative;
  }

  .search-label {
    @include abs-pos(50%, false, false, 1.4rem);
    transform: translateY(-50%);
    color: $color-text-grey;
    cursor: pointer;
  }

  .manage-product-titles {
    .manage-product-title {
      font-weight: bold;
    }
  }

  .manage-product-checkbox {
    width: fit-content;
    cursor: pointer;
    margin-right: 2rem;
  }

  .manage-product-list {
    .manage-product-item {
      height: 8rem;
      padding: 1rem 0;
    }
    .manage-product-img {
      height: 6rem;
      object-fit: contain;
    }

    .manage-product-info {
      @include truncate;
    }
  }
}
