.sales-page {
  margin-top: 14rem;

  .manage-order {
    // height: 65rem;
    padding: 1rem 2rem;
    .page-title {
      padding: 2rem 0;
      font-size: 2rem;
      font-weight: 500;
    }

    .table {
      // height: 32rem;
      margin-top: 1rem;

      thead tr {
        text-align: center;
      }

      tr {
        th:first-child {
          text-align: center;
        }

        .details,
        .details-btn {
          text-align: center;
        }

        .accept,
        .accept-btn {
          text-align: center;
        }

        .cancel,
        .cancel-btn {
          text-align: center;
        }

        td a i {
          font-size: 1.8rem;
          cursor: pointer;
          padding: 0.2rem 1rem;
        }

        .details-btn a {
          color: #000;
        }

        .accept-btn a {
          color: #1a9781;
        }

        .cancel-btn a {
          color: #e05e5e;
        }
      }
    }

    .pagination-container {
      margin: 3rem auto;
    }

    .modal.product-details {
      .modal-dialog {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 40rem;

        .modal-content {
          .modal-header {
            .modal-title {
              text-transform: uppercase;
              font-size: 1.8rem !important;
              font-weight: 700 !important;
            }
          }

          .modal-body {
            .manage-order {
              max-height: 32rem;
              overflow-y: scroll;

              .form-check {
                display: flex;
                justify-content: center;
              }

              thead tr {
                text-align: center;
              }

              tbody {
                tr th {
                  text-align: center;
                  vertical-align: middle;
                  position: sticky;
                }

                tr td {
                  vertical-align: middle;
                  word-wrap: break-word;
                  max-width: 32.5rem;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }

                .img {
                  background-color: $color-text-light;
                  height: 70%;
                  // overflow: hidden;
                  flex-grow: 1;

                  a {
                    display: flex;
                    justify-content: center;

                    .img-product {
                      width: 70%;
                      vertical-align: middle;
                      object-fit: cover;
                    }
                  }
                }
              }

              .message {
                font-family: Inter;
              }
            }
          }
        }

        .modal-footer {
          button {
            width: 9rem;
            height: 3.5rem;
            text-align: center;
            font-size: 1.6rem;
            text-align: center;
          }

          .btn-success {
            background-color: #1a9781;
          }

          .btn-danger {
            background-color: #e05e5e;
          }

          .btn-secondary {
            background-color: $color-primary;
          }
        }
      }
    }

    .announcement {
      justify-content: center;
      display: flex;
      margin-top: 3rem;
      font-size: 1.6rem;
    }
  }
}
