.part-right-my-order {
  padding-left: 15.4rem;
  // height: 120%;
}

.turn-to-the-left {
  display: flex;
  justify-content: center;
}

.col-9 {
  nav {
    height: 8%;
    // width: 100%;
    ul {
      height: 60%;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 0;
      li {
        width: 33.33333%;
        height: 100%;
        a {
          height: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          color: rgba(0, 0, 0, 0.68);
          // :hover{
          //     color: white;
          // }
        }
      }
    }
  }

  .card {
    margin-top: -2rem;
    margin-bottom: 4rem;
    // min-width: 21.5rem;
    .card-body {
      padding-top: 0%;
      padding-left: 2rem;
      // min-height: 21.5rem;
      .contain {
        display: flex;
        .left{
          // width: 20%;
          min-width: 16.9rem;
        }
        .middle {
          min-width: 66rem;
          // width: fit-content;
        }
      }
    }

    .card-footer {
      display: flex;
      justify-content: right;
    }
  }
}

.evaluate-product {
  display: flex;
  justify-content: end;
  // background-color: white;
  height: 5rem;
  border-style: none;
  // button {
  //   font-weight: bold;
  //   font-size: 1.2rem;
  // }
}

.evaluate-body {
  height: 30rem;
  .rating {
    height: 15%;
    .first-choice {
      margin-left: 2rem;
    }
  }
}

.text_black {
  color: black;
  font-weight: bold;
}

.background_emphasis {
  background-color: #337ab7;
  // color: white;
  font-weight: bold;
  pointer-events: none;
}

.btn-related-evaluation {
  width: 10rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0.5rem;
  padding: 1rem 0rem;
  transition: all 0.3s;
  text-align: center;
  // margin-top: 2rem;
  // margin-right: 1rem;
  background-color: var(--dark-blue);
  // width: calc(33.33%);
  color: white;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 0.1rem solid black;

  &:hover {
    background-color: var(--light-blue);
    color: black;
  }
}

.order-date{
  padding-left: 2.2rem;
}

.isEvaluated {
  pointer-events: none; /* Không cho hover và click */
  opacity: 0.6; /* Giảm độ sáng để tạo hiệu ứng vô hiệu hoá */
}
