.part-right-my-order{
    padding-left: 15.4rem;
}

.turn-to-the-left{
    display: flex;
    justify-content:center
}

.background_emphasis{
    background-color: #a6d7f8e8;
    color: black;
    pointer-events: none;
}

.text_black{
    color: black;
    font-weight: bold;
}



.col-8{
    nav{
        height: 8%;
        ul{
            height: 80%;
            li{
                width: 25%;
                height: 100%;
                a{
                    height: 80%;
                    display: flex;
                    justify-content: center;
                    font-size: 1.2rem;
                }
            }
        }
    }

    .card{
        margin-top: 1rem;
        .card-body{
            .contain{
                display: flex;
                .middle{
                    width: fit-content;
                }
            }
        }

        .card-footer{
            display: flex;
            justify-content: right;
        }
    }
}


