.account-profile-header .container-fluid{
    margin-top: 14rem;
    height: 8%;
    // background-color: rgba(175, 188, 199, 0.956);
    background-color: #D9D9D9;
    display: flex;
    align-items: center;

    .navbar-brand{
        padding-left: 13.8rem;
        font-size: large;
    }
}

.account-profile-main .row{
    padding-left: 14.6rem;
    // padding-right: 12rem;
    height: 100%;

    .col-4{
        padding-top: 2rem;
        padding-left: 0%;
        padding-right: 0%;
        height: 100%;
        width: 18%;
        // background-color: rgba(187, 223, 253, 0.96);
        background-color: #C8DAE4;

        .avatar{
            width: 100%;
            height: 15%;
            display: flex;
            padding-left: 3.3rem;
            padding-right: 1rem;
            .avatar-left{
                width: 40%;
                height: 90%;
                // padding-bottom: 2rem;
                i{
                    // padding: 1rem;
                    padding-top: 0.5rem;
                    font-size: 7rem;
                    padding-bottom: 0.6rem;
                    // background-color: white;
                }
                display: flex;
                // align-items: center;
                justify-content: center;
            }
            .avatar-right{
                height: 90%;
                padding-left: 1.8rem;
                align-items: flex-start;
                justify-content: space-between;
                .info-avatar{
                    height: 50%;
                    .mail{
                        font-size: 1rem;
                    }
                }
                // .info span{
                //     font-size: 1rem;
                // }

                .signup-btn{
                    // margin-top: 1.5rem;
                    // background-color: white;
                    height: 80%;
                    width: 100%;
                    button{
                        font-size: smaller;
                        width: 70%;
                    }
                    
                }
            }
        }
        .my-account{
            width: 100%;
            height: 7%;
            // padding-left: 2rem;
            display: flex;
            a{
                width: 100%;
            }
            button{
                height: 100%;
                width: 100%;
                border-left: none;
                border-right: none;
                border-radius: 0%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                // justify-content:left;
                padding-left: 3.5rem;
                i{
                    margin-right: 1.5rem;
                    font-size: 2rem;
                }
                span{
                    font-size: 1.5rem;
                }
            }

        }
        .my-order{
            width: 100%;
            height: 7%;
            // padding-left: 2rem;
            display: flex;
            a{
                width: 100%;
            }
            button{
                height: 100%;
                width: 100%;
                border-left: none;
                border-right: none;
                border-top: none;
                border-radius: 0%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 3.2rem;
                i{
                    margin-right: 1.5rem;
                    font-size: 2rem;
                }
                span{
                    font-size: 1.5rem;
                }
            }
        }
        .become-seller{
            width: 100%;
            height: 7%;
            // padding-left: 2rem;
            display: flex;
            a{
                width: 100%;
            }
            button{
                height: 100%;
                width: 100%;
                border-left: none;
                border-right: none;
                border-top: none;
                border-radius: 0%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 3.2rem;
                i{
                    margin-left: 0.4rem;
                    margin-right: 1.6rem;
                    font-size: 2rem;
                }
                span{
                    font-size: 1.5rem;
                }
            }
        }
        .remain{
            width: 100%;
            padding-left: 2rem;
        }

    }

    .col-8{
        // display: flex;
        // justify-items: center;
        padding-top: 2rem;
        // padding-right: 0rem;
        .col-md-6{
            // margin:0rem;
            height: 10%;
        }
        .col-12{
            height: 10%;
            // button{
            //     background-color: rgba(175, 188, 199, 0.956);
            //     border: none;
            // }
            .form-check{
                display: flex;
                justify-content:left;
                align-items: end;
                label{
                    margin-left: 2rem;
                }
            }
        }
        // .col-md-4{
        //     height: 10%;
        // }
        // .col-md-2{
        //     height: 10%;
        // }
        form{
            // align-items:unsafe;
            // display:flex;
            // align-items:center;
            align-content: flex-start;
        }
        .form-label{
            height: 20%;;
        }
        .form-control{
            height: 60%;
            border-style: solid;
            // border-color: rgba(0, 0, 0, 0.436);
            border-width: 1;
        }
        .form-select{
            height: 60%;
        }

        .change-password{
            display: flex;
            align-items: center;
        }

        .save-changes{
            display: flex;
            justify-content: end;
            button{
                height: 70%;
            }
        }
    }
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.bg-blue{
    background-color: #337ab7;
}

.color-white{
    color: white;
}




