.sales-page {
  .review-shop {
    .page-title {
      padding: 3rem 2rem;
      font-size: 2rem;
      font-weight: 500;
    }

    .row {
      margin-left: 2rem;

      .review-section {
        min-height: 75rem;
        padding-left: 0;

        .card {
          margin-bottom: 3rem;

          .card-body {
            .information {
              .avatar {
                .img-avatar {
                  width: 4rem;
                  height: 4rem;
                  vertical-align: middle;
                  object-fit: cover;
                  border-radius: 50%;
                }
              }

              .infor-span {
                font-size: 1.5rem;

                .name {
                  font-weight: 600;
                }
              }
            }

            .middle {
              margin-top: 1rem;
              font-family: "Inter", sans-serif;

              .title {
                font-size: 1.8rem;
                font-weight: 600;
              }
            }
          }

          .card-footer {
            display: flex;
            justify-content: right;

            .btn-close {
              width: 5rem;
            }

            .modal-footer {
              button {
                padding: 0.8rem 0;
              }
            }
          }
        }

        .reply-cmt {
          display: flex;
          justify-content: end;
          height: 5rem;
          border-style: none;

          button {
            font-weight: bold;
            width: 11rem;
            font-size: 1.5rem;
          }
        }

        .evaluate-body {
          height: 30rem;

          .rating {
            height: 15%;

            .first-choice {
              margin-left: 4rem;
            }
          }
        }

        .text_black {
          color: black;
          font-weight: bold;
        }

        .background_emphasis {
          background-color: #337ab7;
          // color: white;
          font-weight: bold;
          pointer-events: none;
        }

        .announcement {
          justify-content: center;
          display: flex;
          margin-top: 3rem;
          font-size: 1.6rem;
        }
      }
    }

    .pagination-container {
      width: 28rem;
      margin-bottom: 4rem;
    }
  }
}
