.specific-product {
  margin-top: 18rem;
  max-width: 108rem;

  // global
  hr {
    width: calc(100% - 1.5rem);
    margin-left: 0.75rem;
    margin-top: 4rem;
  }

  // payment section
  .payment-section {
    font-size: $font-size-primary;

    .img-item {
      height: 51.4rem;
      overflow: hidden;
      flex-grow: 1;

      a {
        display: flex;
        justify-content: center;

        .img-product {
          width: 35rem;
          // vertical-align: middle;
          // object-fit:scale-down;
        }
      }
    }

    .details-item {
      .intro {
        .product-link {
          font-size: 1.5rem;
          font-weight: 300;
        }

        .product-name {
          font-size: 3rem;
          font-weight: 700;
        }

        .product-price {
          font-size: 2.5rem;
        }

        .rating {
          .score {
            font-size: 1.5rem;
          }

          .rating-star i {
            font-size: 1.5rem;
            color: #f1e909;
          }

          .number {
            margin-left: 12px;
            font-size: 1.5rem;
          }
        }
      }

      .details-product {
        margin-top: 4rem;

        span {
          font-size: 1.8rem;
        }

        .details-list {
          font-size: 1.5rem;
          margin-left: 2rem;

          li {
            margin-bottom: 0.4rem;
          }
        }
      }

      .adjust-quantity {
        margin-top: 10rem;

        .quantity {
          line-height: 2.5rem;
          // text-align: justify;
        }

        .adjust-icon button {}

        .available-product {
          // text-align: justify;
          line-height: 2.5rem;
        }
      }

      .payment-btn-section {
        margin-top: 4rem;

        a:nth-child(1) {
          width: 15rem;
          padding: 1rem 0;
        }

        a:nth-child(2) {
          width: 20rem;
          margin-left: 2rem;
          padding: 1rem 0;
        }
      }
    }
  }

  //comment section
  .comment-section {
    margin-top: 2rem;
    .comment-item {
      .comment-title {
        background-color: $color-primary-tint;
        padding: 1.6rem 0;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
      }

      .information {
        .avatar {
          .img-avatar {
            width: 4rem;
            height: 4rem;
            vertical-align: middle;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .infor-span {
          font-size: 1.5rem;

          .name {
            font-weight: 600;
          }

          .date {}
        }
      }

      .write-cmt {
        textarea {
          outline: none;
          border: solid 0.2rem $color-primary-shade;
          background-color: $color-primary-tint;
          border-radius: 0.4rem;
        }

        .send-btn {
          margin-left: 1rem;
          font-size: 1.5rem;

          &:hover i {
            color: $color-primary-tint;
          }
        }
      }

      .comment-details {
        background-color: $color-text-light;
        border-radius: 1rem;
        padding: 1.5rem 1rem;
      }

      .reply-from-seller {
        background-color: $color-primary-tint;
        border-radius: 1rem;
        padding: 1.5rem 1rem;
        margin-left: 6rem;
      }
    }
  }

  // related section
  .related-product {
    margin-top: 2rem;
    margin-bottom: 6rem;
    .related-title {
      background-color: $color-primary-tint;
      padding: 1.6rem 0;
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      overflow: hidden;
      margin-left: 0.7rem;
    }

    // related items -> move below -> global
    //related items
    .related-item {
      .img {
        background-color: $color-text-light;
        height: 70%;
        // overflow: hidden;
        flex-grow: 1;

        a {
          display: flex;
          justify-content: center;

          .img-product {
            width: 70%;
            vertical-align: middle;
            object-fit: cover;
          }
        }
      }

      .name-vs-price {
        text-align: center;
        background-color: $color-text-light;
        padding-top: 1rem;
        // border-right: solid 0.3rem $color-primary-tint;
        // border-left: solid 0.3rem $color-primary-tint;

        .name {
          font-size: 2.2rem;
          font-weight: 600;
        }

        .price {
          font-size: 1.8rem;
          font-weight: 400;
          padding-bottom: 2rem;
        }
      }

      .buy-item-btn {
        padding: 1rem 0;
      }
    }
  }
}