.cart {
  @include box(false, 100vh, rgba(0, 0, 0, 0.4));
  @include abs-pos(0, 0, 0, 0);
  position: fixed;
  z-index: 2;
  display: none;
  .cart-slider {
    @include abs-pos(0, 1.5rem, 0);
    background-color: #fff;
    padding: 0 2rem;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    .cart-empty-text {
      font-size: $font-size-secondary;
    }
  }

  .slide {
    transform: translateX(0);
  }

  .product-list {
    font-family: "Inter", sans-serif;
    min-height: 10rem;
    overflow: scroll;
    margin: 2rem 0 4rem 0;
    // hide scrollbar but allow scrolling
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    li:first-child {
      margin-top: 0;
    }
    li:last-child {
      margin-bottom: 0;
    }
  }

  .product-list .product-item {
    margin-top: 1.8rem;
    height: 8.2rem;
    border: 0.1rem solid $color-border;
    border-radius: 0.5rem;
    .product-img {
      border-radius: 0.5rem;
      overflow: hidden;
    }
    .product-img img {
      height: 6rem;
      object-fit: contain;
    }
    .col-9 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 2rem;
    }
    .product-title {
      margin-bottom: 1.6rem;
      font-size: $font-size-secondary;
      @include truncate;
    }
    .product-quantity {
      font-size: $font-size-secondary;
    }
    .product-price {
      @include font($font-size-tertiary, bold);
      margin-top: 4rem;
    }
    .product-close-btn {
      font-size: $font-size-quaternary;
      font-weight: 500;
      color: $color-border;
    }
    .product-close-btn:hover {
      color: $color-text-dark;
    }
  }

  .col-3.slide {
    transform: translateX(0);
  }

  .cart-heading {
    position: relative;
    margin-top: 3rem;
  }
  .cart-heading:after {
    @include abs-pos(calc(100% + 1rem));
    @include box(14rem, 0.4rem, $color-primary);
    content: "";
  }
  .cart-close-btn {
    @include abs-pos(1rem, 2rem);
    font-size: 3rem;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
  .cart-price {
    @include font($font-size-tertiary, bold, $color-text-grey);
    position: relative;
    margin-bottom: 4rem;
    span {
      @include font($font-size-quaternary, false, $color-text-dark);
    }
    &:before {
      @include abs-pos(-2rem, false, false, 0);
      @include box(100%, 0.2rem, $color-primary);
      content: "";
    }
    &:after {
      @extend .cart-price:before;
      top: calc(100% + 2rem);
    }
  }
  a.btn {
    margin-bottom: 1rem;
    &:visited,
    &:link {
      width: 60%;
      align-self: center;
    }
    & + a.btn {
      background-color: $color-primary;
    }

    & + a.btn:hover {
      background-color: $color-primary-shade;
    }
  }
}
