.header {
  background-color: rgba(59, 153, 215, 0.2);
  transition: $primary-trans;
  z-index: 1;

  .logo {
    padding: 0.5rem 2rem;
    img {
      width: unset;
    }
  }

  .cart-icon {
    font-size: $secondary-fz;

    &::before {
      color: $grey-2;
      cursor: pointer;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}

.search-bar {
  position: relative;

  .search-input {
    height: 3.4rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;

    &::placeholder {
      color: $grey-2;
    }
  }

  .search-icon-link {
    width: 2rem;
    font-size: 1.6rem;
    position: absolute;
    right: 2rem;

    .search-icon::before {
      color: #fff;
    }
  }
}

.header.light {
  background-color: $primary-color;

  .search-input {
    background-color: $grey-3;
    color: $grey-1;

    &::placeholder {
      color: $grey-1;
    }
  }

  .search-icon::before {
    color: $grey-1;
  }
}
