.header {
  background-color: rgba(59, 153, 215, 0.2);
  transition: all 0.2s;
  z-index: 1;

  .logo {
    padding: 0.5rem 2rem;
    img {
      width: unset;
    }
  }

  .cart-icon {
    font-size: $font-size-secondary;

    &::before {
      color: $color-text-light;
      cursor: pointer;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}

.search-bar {
  position: relative;

  .search-input {
    height: 3.4rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;

    &::placeholder {
      color: $color-text-light;
    }
  }

  .search-icon-link {
    width: 2rem;
    font-size: 1.6rem;
    @include abs-pos(false, 2rem);

    .search-icon::before {
      color: #fff;
    }
  }
}

.header.light {
  background-color: $color-primary;

  .search-input {
    background-color: $color-white;
    color: $color-text-dark;

    &::placeholder {
      color: $color-text-dark;
    }
  }

  .search-icon::before {
    color: $color-text-dark;
  }
}
