.banner {
  margin: 4rem 9rem;
}

.banner-row {
  display: flex;
}

.banner-img {
  background: linear-gradient(
      0deg,
      rgba(49, 56, 62, 0.3) 0%,
      rgba(49, 56, 62, 0.3) 100%
    ),
    lightgray 50% / cover no-repeat;
}

.banner-article {
  margin: 5rem auto;
}
