.navbar {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 7rem;
  // background-color: rgba(59, 153, 215, 0.2);
  // background-color: rgb(11, 132, 237);
  background-color: $color-primary-tint;
  padding: 0;
  z-index: 1;
  height: 7rem;
  .navbar-nav {
    .nav-item:last-child {
      display: flex;
      align-items: center;
    }

    .nav-item:hover .nav-link,
    .nav-item:hover .nav-link-icon {
      color: $color-primary-shade;
    }

    .nav-item:not(:last-child) .nav-link::after {
      content: '';
      background-color: $color-text-light;
      @include box(0.2rem, 1.4rem);
      @include abs-pos(50%, 0);
      transform: translateY(-50%);
    }

    .nav-item:last-child .nav-link {
      padding-right: 0.5rem;
    }

    .nav-link {
      @include font(1.6rem, false, $color-text-light);
      padding: 2.7rem 3rem;
      position: relative;
      transition: all 0.2s;
    }

    .nav-link-icon {
      color: $color-text-light;
      cursor: pointer;
      transition: all 0.2s;
    }
  }
}

.light.navbar {
  background-color: $color-primary-tint;
  .nav-item:not(:last-child) .nav-link::after {
    background-color: $color-text-dark;
  }
  .navbar-nav .nav-link {
    color: $color-text-dark;
    &:hover {
      color: $color-primary-shade;
    }
  }
  .nav-link-icon {
    color: $color-text-dark;
  }
}

.subnav-include {
  display: flex;
  position: relative;
  &::before {
    content: '';
    @include abs-pos(100%, false, false, 0);
    @include box(120%, 1rem);
    display: none;
    z-index: 999;
  }
  &:hover .subnav,
  &:hover::before {
    display: block;
  }
}

.subnav {
  @include abs-pos(calc(100% + 1rem), false, false, 0);
  @include font(1.6rem, normal);
  text-transform: capitalize;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
  display: none;
  overflow: hidden;
  z-index: 999;
  .subnav-link {
    &:link,
    &:visited {
      white-space: nowrap;
      color: $color-text-dark;
      padding: 0.5em 2rem;
      background-color: #fff;
      display: block;
    }
    &:active,
    &:hover {
      background-color: $color-primary;
      color: #fff;
    }
  }
}
