.navbar {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 7rem;
  background-color: rgba(59, 153, 215, 0.2);
  padding: 0;
  z-index: 1;
  .navbar-nav {
    .nav-item:last-child {
      display: flex;
      align-items: center;
    }

    .nav-item:hover .nav-link,
    .nav-item:hover .nav-link-icon {
      color: $primary-color-shade;
    }

    .nav-item:not(:last-child) .nav-link::after {
      content: '';
      background-color: $grey-2;
      width: 0.2rem;
      height: 1.4rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }

    .nav-item:last-child .nav-link {
      padding-right: 0.5rem;
    }

    .nav-link {
      font-size: 1.6rem;
      padding: 2.7rem 3rem;
      color: $grey-2;
      position: relative;
      transition: all 0.2s;
    }

    .nav-link-icon {
      color: $grey-2;
      cursor: pointer;
      transition: all 0.2s;
    }
  }
}

.light.navbar {
  background-color: $primary-color-tint;
  .nav-item:not(:last-child) .nav-link::after {
    background-color: $grey-1;
  }
  .navbar-nav .nav-link {
    color: $grey-1;
    &:hover {
      color: $primary-color-shade;
    }
  }
  .nav-link-icon {
    color: $grey-1;
  }
}

.subnav-include {
  display: flex;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 100%;
    width: 120%;
    left: 0;
    height: 1rem;
    display: none;
    z-index: 999;
  }
  &:hover .subnav,
  &:hover::before {
    display: block;
  }
}

.subnav {
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  font-weight: normal;
  font-size: 1.6rem;
  text-transform: capitalize;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
  display: none;
  overflow: hidden;
  z-index: 999;
  .subnav-link {
    &:link,
    &:visited {
      white-space: nowrap;
      color: $grey-1;
      padding: 0.5em 2rem;
      background-color: #fff;
      display: block;
    }
    &:active,
    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }
}
