.form-group.invalid .form-control {
    border-style: solid;
    // border-width: 2rem;
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
    font-size: 1.2rem;
}

.disabled{
    ::placeholder{
        color: #f33a58;
    }

    pointer-events: none;
}

.display_end{
    display: flex;
    justify-content: right;
}

.half_height{
    height: 50%;
}

