* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --primary-color: #3b99d7;
  --primary-color-tint: #d9edf7;
  /* --primary-color-tint: #ee0d2b; */
  --primary-color-shade: #337ab7;
  --grey-color-1: #31383e;
  --grey-color-2: #f6f6f6;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #31383e;
  font-size: 1.5rem;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/
/* img {
  width: 100%;
} */

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

input {
  outline: none;
  border: none;
}
