<div class="specific-product container">
    <div class="row payment-section">
        <div class="col-6 img-item">
            <a href="#">
                <img class="img-product" src="img/product-2.jpg" alt="error">
            </a>
        </div>
        <div class="col-6 details-item">
            <div class="intro">
                <h2 class="product-link">
                    Book > Information technology
                </h2>
                <h1 class="product-name">
                    Kỹ thuật lập trình
                </h1>
                <h2 class="product-price">250.000đ</h2>
                <div class="rating d-flex align-items-center mt-4">
                    <h3 class="score m-0">5.0</h3>
                    <div class="rating-star ms-3">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h3 class="number mb-0">12 comments</h3>
                </div>
            </div>
            <div class="details-product">
                <span>Details:</span>
                <ul class="details-list mt-3">
                    <li>Name: Kỷ thuật lập trình</li>
                    <li>Author: Trần Đan Thư, Nguyễn Phương</li>
                    <li>Publisher: Nhà xuất bản Khoa học và Kĩ thuật</li>
                    <li>Version: 2021</li>
                </ul>
            </div>

            <div class="adjust-quantity d-flex">
                <div class="quantity">Quantity: 1</div>
                <div class="adjust-icon ms-5">
                    <button class="btn">
                        <i class="fa-sharp fa-solid fa-plus"></i>
                    </button>
                    <button class="btn">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                </div>
                <div class="available-product ms-5">12 available products</div>
            </div>

            <div class="payment-btn-section mt-5">
                <button class="add-cart-btn btn">Add to cart</button>
                <button class="payment-btn btn">BUY NOW</button>
            </div>
        </div>
        <hr>
    </div>

    <div class="row comment-section mt-5">
        <div class="col comment-item">
            <div class="comment-title">Comment</div>
            <div class="information mt-3 d-flex align-items-center">
                <div class="avatar">
                    <a href="#">
                        <img class="img-avatar" src="./img/product-2.jpg" alt="error">
                    </a>
                </div>
                <div class="infor-span ms-3">
                    <span class="name">Nguyễn Văn A</span>
                    <div class="date mt-1">20:21 19/06/2020</div>
                </div>
                <div class="stars ms-4">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>

            <div class="write-cmt d-flex mt-3 align-items-center">
                <textarea name="" id="" cols="60" rows="2" placeholder="Write to comment..."></textarea>
                <div class="send-btn btn">
                    <a href="">
                        <i class="fa-solid fa-paper-plane"></i>
                    </a>
                </div>
            </div>

            <div class="comment-details mt-3">
                The book delivered quite quickly, carefully packed, and also gave a
                cheaper
                memo paper at the original price but the quality is very good. Everyone
                should buy it. The product is worth the money, the shop is very
                enthusiastic
                to advise customers.
            </div>

            <div class="reply-from-seller mt-3">
                Seller: Thank you!
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <button class="extra-view-btn btn mt-4">More</button>
            </div>
        </div>
        <hr>
    </div>

    <div class="row related-product mt-5">
        <div class="row">
            <div class="related-title col-12 gx-2">Related products</div>
        </div>
        <div class="col-4 related-item mt-4">
            <div class="img">
                <a href="#">
                    <img class="img-product" src="img/product-2.jpg" alt="error">
                </a>
            </div>
            <div class="name-vs-price">
                <div class="name">
                    Sách nhập môn lập trình
                </div>
                <div class="price mt-2">250.000 đ</div>
                <button class="buy-item-btn w-100 btn">
                    BUY NOW
                </button>
            </div>
        </div>

        <div class="col-4 related-item mt-4">
            <div class="img">
                <a href="#">
                    <img class="img-product" src="img/product-2.jpg" alt="error">
                </a>
            </div>
            <div class="name-vs-price">
                <div class="name">
                    Sách nhập môn lập trình
                </div>
                <div class="price mt-2">250.000 đ</div>
                <button class="buy-item-btn w-100 btn">
                    BUY NOW
                </button>
            </div>
        </div>

        <div class="col-4 related-item mt-4">
            <div class="img">
                <a href="#">
                    <img class="img-product" src="img/product-2.jpg" alt="error">
                </a>
            </div>
            <div class="name-vs-price">
                <div class="name">
                    Sách nhập môn lập trình
                </div>
                <div class="price mt-2">250.000 đ</div>
                <button class="buy-item-btn w-100 btn">
                    BUY NOW
                </button>
            </div>
        </div>

    </div>
</div>