<div class='account-profile-header'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='#'>
      ACCOUNT PROFILE
    </a>
  </div>
</div>

<div class='account-profile-main'>
  <div class='row'>
    <div class='col-4'>
      <div class='avatar'>
        <div class='avatar-left'>
          <i class='fa-solid fa-user'></i>
        </div>

        <div class='avatar-right'>
          <div class='info-avatar'>
            <span class='avatar-name'>Dinh Quy Trieu</span>
            <span class='avatar-mail mail'>trieudinh@gmail.com</span>
          </div>
          <div class='signup-btn'>
            {{!-- <button type='button' class='btn btn-outline-primary'>SIGN OUT</button> --}}
            <button type="button" class="btn btn-outline-secondary">SIGN OUT</button>
          </div>
        </div>
      </div>
      <div class='my-account'>
        <a href='http://localhost:3000/profile'>
          <button type='button' class='btn btn-outline-secondary'>
            <i class='fa-solid fa-pen-to-square'></i>
            <span class='page-link'>My account</span>
          </button>
        </a>
      </div>
      <div class='my-order'>
        <a href='http://localhost:3000/myorder'>
          <button type='button' class='btn btn-outline-secondary'>
            <i class='fa-solid fa-cart-shopping'></i>
            <span class='page-link'>My order</span>
          </button>
        </a>
        {{!-- <button type='button' class='btn btn-outline-secondary'>
          <i class='fa-solid fa-cart-shopping'></i>
          <a class='page-link' href='http://localhost:3000/myorder'>My order</a>
        </button> --}}
      </div>
      <div class='become-seller'>
        <a href='http://localhost:3000/becomeseller'>
          <button type='button' class='btn btn-outline-secondary bg-blue'>
            <i class='fa-solid fa-user color-white'></i>
            <span class='page-link color-white'>Become seller</span>
          </button>
        </a>
        {{!-- <button type='button' class='btn btn-outline-secondary'>
          <i class='fa-solid fa-user'></i>
          <a class='page-link' href='http://localhost:3000/becomeseller'>Become
            seller</a>
        </button> --}}
      </div>
      <div class='remain'></div>
    </div>
    <div class='col-8'>
      <form class='row g-3' id='form-1'>
        <div class='col-md-6'>
          <div class='form-group'>
            <label class='form-label'>Name of your shop *</label>
            <input id='shop-name' type='text' class='form-control' />
            <span class='form-message'></span>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='form-group'>
            <label class='form-label'>Type of your product *</label>
            <select id='type-product' class='form-select'>
              <option selected>Textbook</option>
              <option>Text document</option>
              <option>Calculator</option>
              <option>Uniform</option>
            </select>
            <span class='form-message'></span>
          </div>
        </div>
        <div class='col-12'>
          <div class='form-group'>
            <label class='form-label'>Job *</label>
            <input id='job' type='text' class='form-control' placeholder='' />
            <span class='form-message'></span>
          </div>
        </div>
        <div class='col-12'>
          <div class='form-group'>
            <label class='form-label'>Address *</label>
            <input
              id='address'
              type='text'
              class='form-control'
              placeholder=''
            />
            <span class='form-message'></span>
          </div>
        </div>
        <div class='col-12'>
          <div class='form-group'>
            <label class='form-label'>Email * (Can be edited in profile)</label>
            <input
              id='email'
              type='text'
              class='form-control disabled'
              placeholder='dinhquytrieu1010@gmail.com'
            />

          </div>
        </div>
        <div class='col-12'>
          <div class='form-group'>
            <label class='form-label'>Phone number * (Can be edited in profile)</label>
            <input
              id='phone'
              type='text'
              class='form-control disabled'
              placeholder='090 1234 567'
            />

          </div>
        </div>
        <div class='col-md-6'>
          <div class='form-group'>
            <label class='form-label'>Payments</label>
            <select id='payments' class='form-select'>
              <option selected>Cash On Delivery (COD)</option>
              <option>Internet Banking</option>
              <option>E-wallet</option>
            </select>
            <span class='form-message'></span>
          </div>
        </div>
        <div class='col-md-6'>
          <label class='form-label'>Bank *</label>
          <select id='inputState' class='form-select'>
            <option selected>Agribank</option>
            <option>Vietcombank</option>
            <option>BIDV</option>
          </select>
        </div>
        {{!-- <div class='col-12'>
          <div class='form-group'>
            <div class='form-check'>
              <input
                class='form-check-input'
                type='checkbox'
                value=''
                id='flexCheckDefault'
              />
              <label class='form-check-label' for='flexCheckDefault'>
                Committed to the terms
              </label>
            </div>
            <span class='form-message'></span>
          </div>
        </div> --}}
        {{!-- <div class='col-md-6'></div>
        <div class='col-md-6 display_end'>
          <button class='form-submit btn btn-outline-primary half_height'>SIGN
            UP</button>

          
        </div> --}}
        
        <div class='col-12 register'>
          <button class="form-submit btn btn-outline-secondary">REGISTER</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src='/js/become-seller.js'></script>
<script src='/js/validation.js'></script>