{{! <div class='account-profile-header'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='#'>
      ACCOUNT PROFILE
    </a>
  </div>
</div> }}

<div class='container'>
  <div class='account-profile-main container-fluid'>
    <div class='row'>
      {{!-- {{>sidebar-profile}} --}}
      <div class='col-3'>
        <div class='avatar'>
          <div class='avatar-left'>
            <i class='fa-solid fa-user'></i>
          </div>

          <div class='avatar-right'>
            <div class='info-avatar'>
              <span class='avatar-name'>Dinh Quy Trieu</span>
              <span class='avatar-mail mail'>trieudinh@gmail.com</span>
            </div>
            <div class='signup-btn'>
              {{! <button type='button' class='btn btn-outline-primary'>SIGN OUT</button> }}
              <button type='button' class='btn btn-outline-secondary'>SIGN OUT</button>
            </div>
          </div>
        </div>
        <div class='my-account'>
          <a href='http://localhost:3000/profile'>
            <button type='button' class='btn btn-outline-secondary'>
              <i class='fa-solid fa-pen-to-square'></i>
              <span class='page-link'>My account</span>
            </button>
          </a>
        </div>
        <div class='my-order'>
          <a href='http://localhost:3000/myorder'>
            <button type='button' class='btn btn-outline-secondary'>
              <i class='fa-solid fa-cart-shopping'></i>
              <span class='page-link'>My order</span>
            </button>
          </a>
          {{! <button type='button' class='btn btn-outline-secondary'>
            <i class='fa-solid fa-cart-shopping'></i>
            <a class='page-link' href='http://localhost:3000/myorder'>My order</a>
          </button> }}
        </div>
        <div class='become-seller'>
          <a href='http://localhost:3000/becomeseller'>
            <button type='button' class='btn btn-outline-secondary bg-blue'>
              <i class='fa-solid fa-user color-white'></i>
              <span class='page-link color-white'>Become seller</span>
            </button>
          </a>
          {{! <button type='button' class='btn btn-outline-secondary'>
            <i class='fa-solid fa-user'></i>
            <a class='page-link' href='http://localhost:3000/becomeseller'>Become
              seller</a>
          </button> }}
        </div>
        <div class='remain'></div>
      </div>
      <div class='col-9'>
        <form class='row g-3' id='form-1'>
          <div class='col-md-6'>
            <div class='form-group'>
              <label class='form-label fw-bold'>Name of your shop *</label>
              <input
                id='shop-name'
                type='text'
                class='form-control input-size shadow'
              />
              <span class='form-message'></span>
            </div>
          </div>
          <div class='col-md-6'>
            <div class='form-group'>
              <label class='form-label fw-bold'>Type of your product *</label>
              <select id='type-product' class='form-select input-size shadow'>
                <option selected>Textbook</option>
                <option>Text document</option>
                <option>Calculator</option>
                <option>Uniform</option>
              </select>
              <span class='form-message'></span>
            </div>
          </div>
          <div class='col-12'>
            <div class='form-group'>
              <label class='form-label fw-bold'>Job *</label>
              <input
                id='job'
                type='text'
                class='form-control input-size shadow'
                placeholder=''
              />
              <span class='form-message'></span>
            </div>
          </div>
          <div class='col-12'>
            <div class='form-group'>
              <label class='form-label fw-bold'>Address *</label>
              <input
                id='address'
                type='text'
                class='form-control input-size shadow'
                placeholder=''
              />
              <span class='form-message'></span>
            </div>
          </div>
          <div class='col-12'>
            <div class='form-group'>
              <label class='form-label fw-bold'>Email *</label>
              <label class='form-label'>(Can be edited in profile)</label>
              <input
                id='email'
                type='text'
                class='form-control disabled input-size shadow'
                placeholder='dinhquytrieu1010@gmail.com'
              />

            </div>
          </div>
          <div class='col-12'>
            <div class='form-group'>
              <label class='form-label fw-bold'>Phone number *</label>
              <label class='form-label'>(Can be edited in profile)</label>
              <input
                id='phone'
                type='text'
                class='form-control disabled input-size shadow'
                placeholder='090 1234 567'
              />

            </div>
          </div>
          <div class='col-md-6'>
            <div class='form-group'>
              <label class='form-label fw-bold'>Payments</label>
              <select id='payments' class='form-select input-size shadow'>
                <option selected>Cash On Delivery (COD)</option>
                <option>Internet Banking</option>
                <option>E-wallet</option>
              </select>
              <span class='form-message'></span>
            </div>
          </div>
          <div class='col-md-6'>
            <label class='form-label fw-bold'>Bank *</label>
            <select id='inputState' class='form-select input-size shadow'>
              <option selected>Agribank</option>
              <option>Vietcombank</option>
              <option>BIDV</option>
            </select>
          </div>
          {{! <div class='col-12'>
            <div class='form-group'>
              <div class='form-check'>
                <input
                  class='form-check-input'
                  type='checkbox'
                  value=''
                  id='flexCheckDefault'
                />
                <label class='form-check-label' for='flexCheckDefault'>
                  Committed to the terms
                </label>
              </div>
              <span class='form-message'></span>
            </div>
          </div> }}
          {{! <div class='col-md-6'></div>
          <div class='col-md-6 display_end'>
            <button class='form-submit btn btn-outline-primary half_height'>SIGN
              UP</button>

            
          </div> }}

          <div class='contract-container'>
            <div class='contract-content'>
              <h2>Terms and conditions</h2>
              <p>1. Business registration: Before starting an online business,
                you should register your business or go through the necessary
                business establishment procedures if required by the regulations
                of your country or region.</p>
              <p>2. Compliance with laws: Ensure compliance with business laws,
                consumer protection, and the safeguarding of customers' personal
                information. This is particularly important when collecting and
                processing customers' personal information.</p>
              <p>3. Compliance with laws: Ensure compliance with business laws,
                consumer protection, and the safeguarding of customers' personal
                information. This is particularly important when collecting and
                processing customers' personal information.</p>
              <p>4. Compliance with laws: Ensure compliance with business laws,
                consumer protection, and the safeguarding of customers' personal
                information. This is particularly important when collecting and
                processing customers' personal information.</p>
              <p>5. Compliance with laws: Ensure compliance with business laws,
                consumer protection, and the safeguarding of customers' personal
                information. This is particularly important when collecting and
                processing customers' personal information.</p>
              <p>6. Compliance with laws: Ensure compliance with business laws,
                consumer protection, and the safeguarding of customers' personal
                information. This is particularly important when collecting and
                processing customers' personal information.</p>
              <p>7. Compliance with laws: Ensure compliance with business laws,
                consumer protection, and the safeguarding of customers' personal
                information. This is particularly important when collecting and
                processing customers' personal information.</p>
              <!-- Thêm nội dung điều khoản hợp đồng khác ở đây -->
            </div>
          </div>

          <div class='form-group'>
            <div class='form-check agree-term'>
              <input
                id='flexCheckDefault'
                class='form-check-input'
                type='checkbox'
                value=''
                id='flexCheckDefault'
              />
              <label class='form-check-label fw-bold' for='flexCheckDefault'>
                I agree to the terms and conditions.
              </label>
            </div>
          </div>

          <div class='col-12 register'>
            <button
              class='form-submit btn btn-outline-secondary shadow'
            >REGISTER</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src='/js/become-seller.js'></script>
<script src='/js/validation.js'></script>