<section class='row'>
  <aside class='sidebar col-2'></aside>
  <section class='edit-product col-10'>
    <div class='d-flex'>
      <a
        class='edit-product-breadcrumb'
        href='http://localhost:3000/manage-product'
      >
        <i class='fa-regular fa-chevron-left'></i>
        <span>Products</span>
      </a>
      <a class='btn text-uppercase ms-auto' href='#' role='button'>Save</a>
    </div>
    <section class='edit-product-forms row gx-0'>
      <ul class='edit-product-form col-7'>
        <li class='edit-product-form-item'>
          <label for='product-name'>Name</label>
          <input id='product-name' type='text' />
        </li>
        <li class='edit-product-form-item'>
          <label for='product-description'>Description</label>
          <textarea
            name=''
            id='product-description'
            cols='30'
            rows='10'
          ></textarea>
        </li>
        <li class='edit-product-form-item row'>
          <div class='col'>
            <label for='product-price'>Price</label>
            <input id='product-price' type='text' />
          </div>
          <div class='col'>
            <label for='product-stock'>Stock</label>
            <input id='product-stock' type='text' />
          </div>
        </li>
      </ul>
      <div class='edit-product-form col'>
        <div class='product-category'>
          <label class='product-category-label'>Category</label>
          <select class='edit-product-select'>
            <option value='document' selected>Document</option>
            <option value='uniform'>Uniform</option>
            <option value='calculator'>Calculator</option>
            <option value='other'>Other</option>
          </select>
        </div>
        <button class='product-image'>Click to Add an Image</button>
      </div>
    </section>
  </section>
</section>