<section class='container' style='height: calc(100vh - 17.5rem);'>
  <section class='sign-in'>
    <h2 class='si-header'>FORGOT PASSWORD</h2>
    {{#if done}}
      <p class='alert alert-success'>An email has been sent to your email
        address. Please check and follow the instructions to reset your
        password.</p>
    {{else}}
      <p class='mb-5'>Enter your email and we'll send you the intructions.</p>
    {{/if}}
    {{#unless done}}
      <form method='POST' class='si-form' action='/account/forgot'>
        <div class='si-info-input'>
          <label class='si-info' for='email'>Email</label>
          <br />
          <input
            class='si-input'
            type='email'
            id='email'
            name='email'
            required
          /><br />
        </div>
        <div class='si-buttons'>
          <button class='si-button' type='submit'>Submit</button>
        </div>
        <input type='hidden' name='reqUrl' value='{{reqUrl}}' />
      </form>
    {{/unless}}
    {{#if message}}
      <p class='alert alert-warning mt-5'>{{{message}}}</p>
    {{/if}}
  </section>
</section>