<!-- Main -->
<main>
  <!-- Hero section -->
  <section class='hero'>
    <div class='hero-content'>
      <h2 class='main-heading'>Heading</h2>
      <p class='paragraph'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere
        voluptatum cupiditate est? Sunt dignissimos quidem et odit quisquam
        amet, totam laudantium nihil quam iure! Totam excepturi autem et magnam
        sequi.
      </p>
    </div>
    <button class='hero-btn'>
      <i class='fa-solid fa-chevron-left'></i>
    </button>
    <button class='hero-btn'>
      <i class='fa-solid fa-chevron-right'></i>
    </button>
    <ul class='hero-dots'>
      <li>
        <button class='hero-dot'>
          <i class='fa-solid fa-circle'></i>
        </button>
      </li>
      <li>
        <button class='hero-dot'>
          <i class='fa-solid fa-circle'></i>
        </button>
      </li>
      <li>
        <button class='hero-dot'>
          <i class='fa-solid fa-circle'></i>
        </button>
      </li>
      <li>
        <button class='hero-dot'>
          <i class='fa-solid fa-circle'></i>
        </button>
      </li>
    </ul>
  </section>

  <!-- Banner -->
  <section class='banner container'>
    <article class='banner-row'>
      <div class='banner-img'>
        <img src='#' alt='Something ...' />
      </div>
      <h1 class='main-heading'>Heading</h1>
      <p class='paragraph'>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis
        consectetur quibusdam hic et tenetur voluptatibus quae nobis labore odio
        delectus. Quasi eius minus officiis amet culpa facere consequuntur nemo
        esse!
      </p>
    </article>
    <article class='banner-row'>
      <h1 class='main-heading'>Heading</h1>
      <p class='paragraph'>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum atque
        minus itaque exercitationem et omnis est illo iste vel! Dolore ducimus
        laudantium voluptatem repudiandae natus quidem aspernatur numquam
        accusantium totam.
      </p>
      <div class='banner-img'>
        <img src='#' alt='Something ...' />
      </div>
    </article>
  </section>

  <!-- Trending  -->
  <section class='trend container'>
    <h2 class='main-heading'>Daily discover</h2>
    <div class='trend-row'>
      <figure class='trend-card'>
        <a href='#' class='trend-card-img'>
          <img src='#' alt='Something ...' />
        </a>
        <p class='trend-card-title'>Title</p>
        <p class='trend-card-price'>Price</p>
        <a href='#' class='btn trend-card-btn'>Buy now</a>
      </figure>
      <a href='#' class='btn trend-btn'>
        <span>See more</span>
        <i class='fa-solid fa-cart-shopping cart-icon'></i>
      </a>
    </div>
  </section>
</main>