<!-- Main -->
<main>
  {{! Hero (Carousel)  }}
  <div
    id='carouselExampleCaptions'
    class='carousel slide'
    data-bs-ride='carousel'
  >
    <div class='carousel-indicators'>
      <button
        type='button'
        data-bs-target='#carouselExampleCaptions'
        data-bs-slide-to='0'
        class='active'
        aria-current='true'
        aria-label='Slide 1'
      ></button>
      <button
        type='button'
        data-bs-target='#carouselExampleCaptions'
        data-bs-slide-to='1'
        aria-label='Slide 2'
      ></button>
      <button
        type='button'
        data-bs-target='#carouselExampleCaptions'
        data-bs-slide-to='2'
        aria-label='Slide 3'
      ></button>
    </div>
    <div class='carousel-inner'>
      <div class='carousel-item active' data-bs-interval='5000'>
        <img src='img/hero-image.jpg ' class='d-block w-100' alt='img' />
        <div class='carousel-caption d-none d-md-block'>
          <h1>First slide label</h1>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class='carousel-item' data-bs-interval='5000'>
        <img src='img/hero-image.jpg' class='d-block w-100' alt='img' />
        <div class='carousel-caption d-none d-md-block'>
          <h1>Second slide label</h1>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class='carousel-item' data-bs-interval='5000'>
        <img src='img/hero-image.jpg' class='d-block w-100' alt='img' />
        <div class='carousel-caption d-none d-md-block'>
          <h1>Third slide label</h1>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button
      class='carousel-control-prev'
      type='button'
      data-bs-target='#carouselExampleCaptions'
      data-bs-slide='prev'
    >
      <span class='carousel-control-prev-icon' aria-hidden='true'></span>
      <span class='visually-hidden'>Previous</span>
    </button>
    <button
      class='carousel-control-next'
      type='button'
      data-bs-target='#carouselExampleCaptions'
      data-bs-slide='next'
    >
      <span class='carousel-control-next-icon' aria-hidden='true'></span>
      <span class='visually-hidden'>Next</span>
    </button>
  </div>

  <!-- Banner -->
  <section class='banner container'>
    <div class='banner-row'>
      <div class='col-6'>
        <img src='img/banner-1.png' class='banner-img' alt='Something ...' />
      </div>
      <div class='banner-article col-6'>
        <h1 class='main-heading'>Heading</h1>
        <p class='paragraph'>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis
          consectetur quibusdam hic et tenetur voluptatibus quae nobis labore
          odio delectus. Quasi eius minus officiis amet culpa facere
          consequuntur nemo esse!
        </p>
      </div>
    </div>
    <div class='banner-row'>
      <div class='banner-article col-6'>

        <h1 class='main-heading'>Heading</h1>
        <p class='paragraph'>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum atque
          minus itaque exercitationem et omnis est illo iste vel! Dolore ducimus
          laudantium voluptatem repudiandae natus quidem aspernatur numquam
          accusantium totam.
        </p>
      </div>
      <div class='col-6'>
        <img src='img/banner-2.png' class='banner-img' alt='Something ...' />
      </div>
    </div>
  </section>

  <!-- Trending  -->
  <section class='trend container'>
    <h2 class='main-heading'>Daily discover</h2>
    <div class='trend-row'>
      <figure class='trend-card'>
        <a href='#' class='trend-card-img'>
          <img src='#' alt='Something ...' />
        </a>
        <p class='trend-card-title'>Title</p>
        <p class='trend-card-price'>Price</p>
        <a href='#' class='btn trend-card-btn'>Buy now</a>
      </figure>
      <a href='#' class='btn trend-btn'>
        <span>See more</span>
        <i class='fa-solid fa-cart-shopping cart-icon'></i>
      </a>
    </div>
  </section>
</main>