<section class='row'>
  <aside class='sidebar col-2'></aside>
  <section class='manage-product col-10'>
    <div class='d-flex'>
      <p class='manage-product-breadcrumb'>Products</p>
      <a class='btn text-uppercase ms-auto' href='http://localhost:3000/edit-product' role='button'>Add product</a>
    </div>
    <section class='manage-product-content'>
      <div class='manage-product-controll row gx-0 mb-5'>
        <div class='col-4 manage-product-search-bar'>
          <label for='search-input-id' class='search-label'>
            <i class='fa-solid fa-magnifying-glass search-icon'></i>
          </label>
          <input
            type='email'
            class='search-input'
            id='search-input-id'
            placeholder='Search for product'
          />
        </div>
        <div class='col-4 manage-product-select-container'>
          <select class='manage-product-select'>
            <option selected>All categories</option>
            <option value='document'>Document</option>
            <option value='uniform'>Uniform</option>
            <option value='calculator'>Calculator</option>
            <option value='other'>Other</option>
          </select>
        </div>
        <div class='col-4 manage-product-select-container'>
          <select class='manage-product-select'>
            <option selected>Sort by</option>
            <option value='name'>Name</option>
            <option value='category'>Category</option>
            <option value='price'>Price</option>
          </select>
        </div>
      </div>
      <ul class='manage-product-titles row gx-0'>
        <input class='manage-product-checkbox col-1' type='checkbox' value='' />
        <li class='manage-product-title text-center col-1'>Image</li>
        <li class='manage-product-title text-center col'>Name</li>
        <li class='manage-product-title text-center col-2'>Category</li>
        <li class='manage-product-title text-center col-2'>Stock</li>
        <li class='manage-product-title text-center col-2'>Price</li>
      </ul>
      <ul class='manage-product-list'>
        <li class='manage-product-item row gx-0'>
          <input
            class='manage-product-checkbox col-1'
            type='checkbox'
            value=''
          />
          <a href='http://localhost:3000/edit-product' class='manage-product-item-link col'>
            <ul class='manage-product-item-infos row gx-0 align-items-center'>
              <li class='manage-product-info text-center col-1'>
                <img
                  src='img/products/vi-sinh-vat-hoc.jpeg'
                  alt='ky thuat lap trinh'
                  class='manage-product-img'
                />
              </li>
              <li class='manage-product-info text-center col'>Vi sinh vat hoc</li>
              <li class='manage-product-info text-center col-2'>Document</li>
              <li class='manage-product-info text-center col-2'>2</li>
              <li class='manage-product-info text-center col-2'>250.000VND</li>
            </ul>
          </a>
        </li>
        <li class='manage-product-item row gx-0'>
          <input
            class='manage-product-checkbox col-1'
            type='checkbox'
            value=''
          />
          <a href='#' class='manage-product-item-link col'>
            <ul class='manage-product-item-infos row gx-0 align-items-center'>
              <li class='manage-product-info text-center col-1'>
                <img
                  src='img/products/ky-thuat-lap-trinh.png'
                  alt='ky thuat lap trinh'
                  class='manage-product-img'
                />
              </li>
              <li class='manage-product-info text-center col'>Ky thuat lap trinh</li>
              <li class='manage-product-info text-center col-2'>Document</li>
              <li class='manage-product-info text-center col-2'>2</li>
              <li class='manage-product-info text-center col-2'>250.000VND</li>
            </ul>
          </a>
        </li>
        <li class='manage-product-item row gx-0'>
          <input
            class='manage-product-checkbox col-1'
            type='checkbox'
            value=''
          />
          <a href='#' class='manage-product-item-link col'>
            <ul class='manage-product-item-infos row gx-0 align-items-center'>
              <li class='manage-product-info text-center col-1'>
                <img
                  src='img/products/ky-thuat-lap-trinh.png'
                  alt='ky thuat lap trinh'
                  class='manage-product-img'
                />
              </li>
              <li class='manage-product-info text-center col'>Ky thuat lap trinh</li>
              <li class='manage-product-info text-center col-2'>Document</li>
              <li class='manage-product-info text-center col-2'>2</li>
              <li class='manage-product-info text-center col-2'>250.000VND</li>
            </ul>
          </a>
        </li>
        <li class='manage-product-item row gx-0'>
          <input
            class='manage-product-checkbox col-1'
            type='checkbox'
            value=''
          />
          <a href='#' class='manage-product-item-link col'>
            <ul class='manage-product-item-infos row gx-0 align-items-center'>
              <li class='manage-product-info text-center col-1'>
                <img
                  src='img/products/ky-thuat-lap-trinh.png'
                  alt='ky thuat lap trinh'
                  class='manage-product-img'
                />
              </li>
              <li class='manage-product-info text-center col'>Ky thuat lap trinh</li>
              <li class='manage-product-info text-center col-2'>Document</li>
              <li class='manage-product-info text-center col-2'>2</li>
              <li class='manage-product-info text-center col-2'>250.000VND</li>
            </ul>
          </a>
        </li>
        <li class='manage-product-item row gx-0'>
          <input
            class='manage-product-checkbox col-1'
            type='checkbox'
            value=''
          />
          <a href='#' class='manage-product-item-link col'>
            <ul class='manage-product-item-infos row gx-0 align-items-center'>
              <li class='manage-product-info text-center col-1'>
                <img
                  src='img/products/ky-thuat-lap-trinh.png'
                  alt='ky thuat lap trinh'
                  class='manage-product-img'
                />
              </li>
              <li class='manage-product-info text-center col'>Ky thuat lap trinh</li>
              <li class='manage-product-info text-center col-2'>Document</li>
              <li class='manage-product-info text-center col-2'>2</li>
              <li class='manage-product-info text-center col-2'>250.000VND</li>
            </ul>
          </a>
        </li>
      </ul>
    </section>
    <a
      class='btn text-uppercase js-delete-btn'
      href='#'
      role='button'
    >Delete</a>
    {{>pagination}}
  </section>
</section>
<script src='js/manage-product.js'></script>