<div class='sales-page container'>
  <div class='row'>
    <div class='col-2'>

    </div>
    <div class='col manage-order'>
      <h1 class='page-title'>
        ORDER
      </h1>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th scope='col' class='#' width='5%'>#</th>
            <th scope='col' class='customer-name'>Customer name</th>
            <th scope='col' class='email' width='30%'>Email</th>
            <th scope='col' class='phone-number' width='25%'>Phone number</th>
            <th scope='col' class='details' width='5%'>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope='row'>1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td class='details-btn'>
              <a href='' data-bs-toggle='modal' data-bs-target='#product-details'>
                <i class='fa-solid fa-ellipsis-vertical'></i>
              </a>
            </td>
          </tr>

          <tr>
            <th scope='row'>2</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td class='details-btn'>
              <a href='' data-bs-toggle='modal' data-bs-target='#product-details'>
                <i class='fa-solid fa-ellipsis-vertical'></i>
              </a>
            </td>
          </tr>

          <tr>
            <th scope='row'>3</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td class='details-btn'>
              <a href='' data-bs-toggle='modal' data-bs-target='#product-details'>
                <i class='fa-solid fa-ellipsis-vertical'></i>
              </a>
            </td>
          </tr>

          <tr>
            <th scope='row'>3</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td class='details-btn'>
              <a href='' data-bs-toggle='modal' data-bs-target='#product-details'>
                <i class='fa-solid fa-ellipsis-vertical'></i>
              </a>
            </td>
          </tr>

          <tr>
            <th scope='row'>3</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td class='details-btn'>
              <a href='' data-bs-toggle='modal' data-bs-target='#product-details'>
                <i class='fa-solid fa-ellipsis-vertical'></i>
              </a>
            </td>
          </tr>

          <tr>
            <th scope='row'>3</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td class='details-btn'>
              <a href='' data-bs-toggle='modal' data-bs-target='#product-details'>
                <i class='fa-solid fa-ellipsis-vertical'></i>
              </a>
            </td>
          </tr>

          <tr>
            <th scope='row'>3</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td class='details-btn'>
              <a href='' data-bs-toggle='modal' data-bs-target='#product-details'>
                <i class='fa-solid fa-ellipsis-vertical'></i>
              </a>
            </td>
          </tr>

          <tr>
            <th scope='row'>3</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td class='details-btn'>
              <a href='' data-bs-toggle='modal' data-bs-target='#product-details'>
                <i class='fa-solid fa-ellipsis-vertical'></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      {{>pagination}}

      {{! modal product details }}
      <div class='modal product-details fade' id='product-details' tabindex='-1' aria-labelledby='exampleModalLabel'
        aria-hidden='true'>
        <div class='modal-dialog modal-lg'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h1 class='modal-title fs-5' id='exampleModalLabel'>Order details</h1>
              <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
              <div class='row'>
                <div class='col manage-order'>
                  <table class='table table-bordered table-fixed'>
                    <thead>
                      <tr>
                        <th scope='col' width='1%'>
                          <div class='form-check'>
                            <input class='form-check-input' type='checkbox' value='' id='checkbox-all' />
                          </div>
                        </th>
                        <th scope='col' class='#' width='5%'>#</th>
                        <th scope='col' class='image' width='5%'>Image</th>
                        <th scope='col' class='name'>Name</th>
                        <th scope='col' class='category' width='15%'>Category</th>
                        <th scope='col' class='quantity' width='5%'>Quantity</th>
                        <th scope='col' class='price' width='15%'>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class='form-check'>
                            <input class='form-check-input' type='checkbox' name='courseIds[]' />
                          </div>
                        </td>
                        <th scope='row'>1</th>
                        <td>
                          <div class='img'>
                            <a href='#'>
                              <img class='img-product' src='img/product-2.jpg' alt='error' />
                            </a>
                          </div>
                        </td>
                        <td>Lorem ipsum dolor sit, amet consectet</td>
                        <td>asda</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <td>
                          <div class='form-check'>
                            <input class='form-check-input' type='checkbox' name='courseIds[]' />
                          </div>
                        </td>
                        <th scope='row'>1</th>
                        <td>
                          <div class='img'>
                            <a href='#'>
                              <img class='img-product' src='img/product-2.jpg' alt='error' />
                            </a>
                          </div>
                        </td>
                        <td>Lorem ipsum dolor sit, amet consectet</td>
                        <td>asda</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                                            <tr>
                        <td>
                          <div class='form-check'>
                            <input class='form-check-input' type='checkbox' name='courseIds[]' />
                          </div>
                        </td>
                        <th scope='row'>1</th>
                        <td>
                          <div class='img'>
                            <a href='#'>
                              <img class='img-product' src='img/product-2.jpg' alt='error' />
                            </a>
                          </div>
                        </td>
                        <td>Lorem ipsum dolor sit, amet consectet</td>
                        <td>asda</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                                            <tr>
                        <td>
                          <div class='form-check'>
                            <input class='form-check-input' type='checkbox' name='courseIds[]' />
                          </div>
                        </td>
                        <th scope='row'>1</th>
                        <td>
                          <div class='img'>
                            <a href='#'>
                              <img class='img-product' src='img/product-2.jpg' alt='error' />
                            </a>
                          </div>
                        </td>
                        <td>Lorem ipsum dolor sit, amet consectet</td>
                        <td>asda</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                                            <tr>
                        <td>
                          <div class='form-check'>
                            <input class='form-check-input' type='checkbox' name='courseIds[]' />
                          </div>
                        </td>
                        <th scope='row'>1</th>
                        <td>
                          <div class='img'>
                            <a href='#'>
                              <img class='img-product' src='img/product-2.jpg' alt='error' />
                            </a>
                          </div>
                        </td>
                        <td>Lorem ipsum dolor sit, amet consectet</td>
                        <td>asda</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                                            <tr>
                        <td>
                          <div class='form-check'>
                            <input class='form-check-input' type='checkbox' name='courseIds[]' />
                          </div>
                        </td>
                        <th scope='row'>1</th>
                        <td>
                          <div class='img'>
                            <a href='#'>
                              <img class='img-product' src='img/product-2.jpg' alt='error' />
                            </a>
                          </div>
                        </td>
                        <td>
                          Lorem ipsum dolor sit, amet consectet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta sed possimus harum! Vero recusandae quidem cumque reiciendis consequuntur repellendus, esse dolorem hic aliquam necessitatibus natus cum inventore dolorum sint ex?
                        </td>
                        <td>asda</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class='modal-footer'>
              <a href='#' type='button' class='btn btn-success'>
                Accept
              </a>
              <a href='#' type='button' class='btn btn-danger'>
                Cancel
              </a>

              <a href='#' type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>