

<div class="container">
    <div class="account-profile-main container-fluid">
        <div class="row">
            {{>sidebar-profile}}
            <div class="col-9 part-right-my-order">
                {{>statusbar-myorder}}
            </div>
        </div>
    </div>
</div>