

<div class="container">
    <div class="account-profile-main container-fluid">
        <div class="row">
            {{>sidebar-profile}}
            <div class="col-9 part-right-my-order">
                {{>statusbar-myorder}}
                <div class="card">
                    <div class="card-header">
                        Delivery in progress
                    </div>
                    <div class="card-body">
                        <div class="contain">
                            <div class="left">
                                <img src="/img/SachLSD.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="middle">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                                        content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        90.000 VND
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>