<div class='sign-up'>
  <h2 class='su-header'>RESET PASSWORD</h2>
  <div class='horizontal-line'></div>
  {{#if done}}
  <p class="alert alert-success">
    Your password has been updated. You can now <a href="/account/sign-in">login</a> using your new password!
  </p>
  {{/else}}
  {{#if expired}}
  <p class="alert alert-warning">
    Your link is expired!
  </p>
  {{/else}}
  <form method='POST' class='su-form' action='/account/reset'>
    <div class='su-info-input'>
      <label class='su-info' for='password'>New Password</label><br />
      <input
        class='su-input'
        type='password'
        id='password'
        name='password'
        required
      /><br />
      <p id='password-valid'></p>
    </div>

    <div class='su-info-input'>
      <label class='su-info' for='confirm-pwd'>Confirm New Password</label><br
      />
      <input
        class='su-input'
        type='password'
        id='confirm-pwd'
        name='confirm-pwd'
        required
      /><br />
      <p id='password-match-msg'></p>
    </div>

    <input
      class='su-checkbox'
      type='checkbox'
      id='accept-sign-up-form'
      name='accept-sign-up-form'
      value='Accept with sign up form'
    />
    <input class='su-button' type='submit' />
  </form>
  {{/if}}
  {{/if}}
  {{#if message}}
    <p class='alert alert-warning mt-5 text-center'>
      {{{message}}}
    </p>
  {{/if}}
  <input type='hidden' name='email' value {{email}} />
  <input type='hidden' name='token' value {{token}} />
</div>

<script src='/js/sign-up.js'></script>