<div class="sales-page container">
    <div class="row">
        <div class="col-2 vertical-nav">
            <h1 class="title">Sale pages</h1>
            <hr>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <h2>Manage order</h2>
                    </a>
                </li>
                <hr>
                <li class="nav-item">
                    <a href="">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <h2>Manage products</h2>
                    </a>
                </li>
                <hr>
                <li class="nav-item">
                    <a href="">
                        <i class="fa-solid fa-chart-simple"></i>
                        <h2>Statistics</h2>
                    </a>
                </li>
                <hr>
                <li class="nav-item">
                    <a href="">
                        <i class="fa-solid fa-message"></i>
                        <h2>Reviews</h2>
                    </a>
                </li>
                <hr>
            </ul>
        </div>

        <div class="col sales-page-change">
            
        </div>
    </div>
</div>

