<div class='shop-info'>
  <div class='info'>
    <div class='info-col'>
      <div class='logo-name'>
        <img
          class='shop-logo'
          src='https://drive.google.com/uc?export=view&id=1q8g7BSHvcIbvlYS3buOCmVTzoISv32s8'
          alt='Shop Logo'
        />

        <h1 class='shop-name'>Shop's Name</h1>
      </div>

      <p class='last-online'>Last online: September 30, 2023</p>
      <section class='follow-chat'>
        <button id='follow-button' onclick='toggleFollow()'>Follow</button>
        <button class='chat-button'>Chat</button>
      </section>
    </div>

    <div class='info-col'>
      <p>Number of products: 50</p>
      <p>Number of followers: 1000</p>
      <p>Chat response rate: 90%</p>

    </div>
    <div class='info-col'>
      <p>Average rating received: 4.5</p>
      <p>Number of ratings: 200</p>
      <p>Joined since: January 1, 2022</p>
    </div>
  </div>

  <div class='grid-container'>
    <div class='discount'>
      <h3>Discount 1</h3>
      <p>Discount details here...</p>
      <div>
        <button
          class='save-button save-button-1'
          onclick='toggleSave(1)'
        >Save</button>
      </div>
    </div>
    <div class='discount'>
      <h3>Discount 2</h3>
      <p>Discount details here...</p>
      <div>
        <button
          class='save-button save-button-2'
          onclick='toggleSave(2)'
        >Save</button>
      </div>
    </div>
    <div class='discount'>
      <h3>Discount 3</h3>
      <p>Discount details here...</p>
      <div>
        <button
          class='save-button save-button-3'
          onclick='toggleSave(3)'
        >Save</button>
      </div>
    </div>
    <div class='discount'>
      <h3>Discount 4</h3>
      <p>Discount details here...</p>
      <div>
        <button
          class='save-button save-button-4'
          onclick='toggleSave(4)'
        >Save</button>
      </div>
    </div>
    <div class='discount'>
      <h3>Discount 5</h3>
      <p>Discount details here...</p>
      <div>
        <button
          class='save-button save-button-5'
          onclick='toggleSave(5)'
        >Save</button>
      </div>
    </div>
  </div>

  <section class='product-list'>
    <div class='product'>
      <img src='product1.jpg' alt='Product 1' />
      <h2>Product 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p>$19.99</p>
      <button>Add to Cart</button>
    </div>

    <div class='product'>
      <img src='product2.jpg' alt='Product 2' />
      <h2>Product 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p>$24.99</p>
      <button>Add to Cart</button>
    </div>
  </section>
</div>

<script src='/js/shop-info.js'></script>