<div class='shop-info'>
  <div class='info'>
    <div class='info-col'>
      <div class='logo-section'>
        <img
          class='shop-logo'
          src='https://drive.google.com/uc?export=view&id=1q8g7BSHvcIbvlYS3buOCmVTzoISv32s8'
          alt='Shop Logo'
        />

        <div class='name-online'>
          <h1 class='shop-name'>Shop's Name</h1>
          <p class='last-online'>Last online: September 30, 2023</p>
        </div>

      </div>

      <section class='follow-chat'>
        <button
          id='follow-button'
          class='button'
          onclick='toggleFollow()'
        >Follow</button>
        <button id='chat-button' class='button'>Chat</button>
      </section>
    </div>

    <div class='info-col'>
      <div class='info-text'>
        <p>Number of products: 50</p>
        <p>Number of followers: 1000</p>
        <p>Chat response rate: 90%</p>
      </div>
    </div>

    <div class='info-col'>
      <div class='info-text'>
        <p>Average rating received: 4.5</p>
        <p>Number of ratings: 200</p>
        <p>Joined since: January 1, 2022</p>
      </div>
    </div>
  </div>

  <div class='discounts'>
    <div class='discount'>
      <h3>Discount 1</h3>
      <p>Discount details here...</p>
      <div>
        <button class='button save-button-1' onclick='toggleSave(1)'>Save</button>
      </div>
    </div>
    <div class='discount'>
      <h3>Discount 2</h3>
      <p>Discount details here...</p>
      <div>
        <button class='button save-button-2' onclick='toggleSave(2)'>Save</button>
      </div>
    </div>
    <div class='discount'>
      <h3>Discount 3</h3>
      <p>Discount details here...</p>
      <div>
        <button class='button save-button-3' onclick='toggleSave(3)'>Save</button>
      </div>
    </div>
    <div class='discount'>
      <h3>Discount 4</h3>
      <p>Discount details here...</p>
      <div>
        <button class='button save-button-4' onclick='toggleSave(4)'>Save</button>
      </div>
    </div>
    <div class='discount'>
      <h3>Discount 5</h3>
      <p>Discount details here...</p>
      <div>
        <button class='button save-button-5' onclick='toggleSave(5)'>Save</button>
      </div>
    </div>
  </div>
</div>

<script src='js/shop-info.js'></script>