<section class='container'>
  <section class='sign-in'>
    <h2 class='si-header'>SIGN IN</h2>

    <form class='si-form' action='#'>
      <div class='si-info-input'>
        <label class='si-info' for='email'>Email</label>
        <br />
        <input class='si-input' type='email' id='email' name='email' /><br />
      </div>
      <div class='si-info-input'>
        <label class='si-info' for='pwd'>Password</label>
        <br />

        <input class='si-input' type='password' id='pwd' name='pwd' /><br />

        <div class='si-remem-pass'>
          <input
            class='si-rmpass-checkbox'
            type='checkbox'
            id='remem-pass'
            name='remem-pass'
            value='Remember password'
          />
          <label class='si-rmpass-text' for='remem-pass'>Remember password</label><br
          />
        </div>
      </div>

      <div class='si-buttons'>
        <button class='si-button' type='button'>Sign in</button>
        <button class='si-button' type='button'>Sign up</button>
      </div>

      <a class='si-forget-pass' href='#'>Reset password</a>

    </form>
  </section>
</section>