<section class='container'>
  <section class='sign-in'>
    <h2 class='si-header'>SIGN IN</h2>

    <form method='POST' class='si-form' action='/account/sign-in'>
      <div class='si-info-input'>
        <label class='si-info' for='email'>Email</label>
        <br />
        <input
          class='si-input'
          type='email'
          id='email'
          name='email'
          required
        /><br />
      </div>
      <div class='si-info-input'>
        <label class='si-info' for='password'>Password</label>
        <br />

        <input
          class='si-input'
          type='password'
          id='password'
          name='password'
          required
        /><br />

        <div class='si-remem-pass'>
          <input
            class='si-rmpass-checkbox'
            type='checkbox'
            id='keepSignedIn'
            name='keepSignedIn'
            value='Remember password'
          />
          <label class='si-rmpass-text' for='keepSignedIn'>Remember password</label><br
          />
        </div>
      </div>

      <div class='si-buttons'>
        {{! <button class='si-button' type='submit'>Sign in</button> }}
        <input class='si-button' type='submit' />
        <a class='si-button' href='/account/sign-up'>Sign up</a>
      </div>

      <a class='si-forget-pass' href='#'>Reset password</a>
    </form>
    {{#if loginMessage}}
      <p class='alert alert-warning mt-5'>{{loginMessage}}</p>
    {{/if}}
  </section>
</section>