<div class="container far-from-head">
  <div class="about-us">
    <div class="au-box">
      <h2 class="au-header">BUYING GUIDE</h2>
      <p>
        2handBook serves as a marketplace for students to sell old study
        materials they no longer need to other students.
      </p>
      <p>
        The products can be old books, old documents, old calculators, etc.
      </p>
      <p>
        In addition, this website also welcomes other sellers like bookstores,
        stationery stores, printing shops.
      </p>
    </div>

    <div class="au-box">
      <h2 class="au-header">FORM OF PAYMENT</h2>
      <p>Email: twohandbook@gmail.com</p>
      <p>Phone: 0765386088</p>
      <p>
        Address: 227 Nguyen Van Cu, District 5, Ho Chi Minh City
      </p>
    </div>

    <div class="au-box">
      <h2 class="au-header">INFORMATION SECURITY</h2>
      <p>Email: twohandbook@gmail.com</p>
      <p>Phone: 0765386088</p>
      <p>
        Address: 227 Nguyen Van Cu, District 5, Ho Chi Minh City
      </p>
    </div>
  </div>
</div>