.specific-product {
    margin-top: 14rem;
    max-width: 108rem;

    // global
    hr {
        width: calc(100% - 1.5rem);
        margin-left: 0.75rem;
        margin-top: 4rem;
    }

    // payment section
    .payment-section {
        // position: relative;
        font-size: var(--primary-fz);

        .img-item {
            height: 48rem;
            overflow: hidden;

            .img-product {
                max-width: 100%;
                vertical-align: middle;
                object-fit: cover;
            }
        }

        .details-item {

            .intro {
                .product-link {
                    font-size: 1.5rem;
                    font-weight: 300;
                }

                .product-name {
                    font-size: 3rem;
                    font-weight: 700;
                }

                .product-price {
                    font-size: 2.5rem;
                }

                .rating {
                    .score {
                        font-size: 1.5rem;
                    }

                    .rating-star i {
                        font-size: 1.5rem;
                        color: #f1e909;
                    }

                    .number {
                        margin-left: 12px;
                        font-size: 1.5rem;
                    }
                }
            }

            .details-product {
                margin-top: 4rem;

                span {
                    font-size: 1.8rem;
                }

                .details-list {
                    font-size: 1.5rem;
                    margin-left: 2rem;

                    li {
                        margin-bottom: 0.4rem;
                    }
                }
            }

            .adjust-quantity {
                margin-top: 12rem;

                .quantity {
                    line-height: 2.5rem;
                    // text-align: justify;
                }

                .adjust-icon button {}

                .available-product {
                    // text-align: justify;
                    line-height: 2.5rem;
                }
            }

            .payment-btn-section {
                button:nth-child(1) {
                    width: 16rem;
                }
                button:nth-child(2) {
                    width: 22rem;
                    margin-left: 1.5rem;
                }
            }
        }

    }


    //comment section
    .comment-section {
        .comment-item {
            .comment-title {
                background-color: var(--primary-color-tint);
                padding: 1.6rem 0;
                font-size: 2rem;
                font-weight: 700;
                text-align: center;
                // margin: 0 0.75;
            }

            .information {
                .avatar {
                    .img-avatar {
                        width: 4rem;
                        height: 4rem;
                        vertical-align: middle;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                .infor-span {
                    font-size: 1.5rem;

                    .name {
                        font-weight: 600;
                    }

                    .date {}
                }
            }

            .write-cmt {
                textarea {
                    outline: none;
                    border: solid 0.2rem $primary-color-shade;
                    background-color: $primary-color-tint;
                    border-radius: 0.4rem;
                }

                .send-btn {
                    margin-left: 1rem;

                    &:hover i {
                        color: $primary-color-tint;
                    }
                }

            }

            .comment-details {
                background-color: $grey-2;
                border-radius: 1rem;
                padding: 1.5rem 1rem;
            }

            .reply-from-seller {
                background-color: $primary-color-tint;
                border-radius: 1rem;
                padding: 1.5rem 1rem;
                margin-left: 6rem;
            }
        }

    }

    // related section
    .related-product {
        .related-title {
            background-color: var(--primary-color-tint);
            padding: 1.6rem 0;
            font-size: 2rem;
            font-weight: 700;
            text-align: center;
            overflow: hidden;
            margin-left: 0.7rem;
        }

        // related items -> move below -> global
    }
}

//related items
.related-item {
    .img {
        height: 35rem;
        overflow: hidden;

        .img-product {
            max-width: 100%;
            vertical-align: middle;
            object-fit: cover;
        }
    }

    .name-vs-price {
        text-align: center;
        background-color: $grey-2;
        padding-top: 1rem;
        border-right: solid 0.3rem $primary-color-tint;
        border-left: solid 0.3rem $primary-color-tint;
        .name {
            font-size: 2.2rem;
            font-weight: 600;
        }

        .price {
            font-size: 1.8rem;
            font-weight: 400;
            padding-bottom: 2rem;
        }
    }

    .buy-item-btn{
        padding: 1rem 0;
    }
}