.sales-page{
    margin-top: 14rem;
    .vertical-nav{
        background-color: #f6f6f6;
        height: 100vh;
        .title{
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            padding: 2rem;
            text-align: center;
        }

        .nav-list{
            .nav-item{
                display: flex;
                align-items: center;
                padding: 0 2rem;
                // justify-content: center;
                cursor: pointer;
                a{
                    display: flex;
                    align-items: center;
                    font-size: 1.7rem;
                    color: $grey-1;
                    
                    h2{
                        font-size: 1.7rem;
                        margin-bottom: 0;
                        margin-left: 0.5rem;
                    }
                }

                &:hover{
                    opacity: 0.8;
                }

            }
        }
    }
}