a.btn {
  &:link,
  &:visited {
    @include font(1.6rem, 500);
    border-radius: 0.5rem;
    background-color: $color-primary-tint;
    padding: 0.5rem 2rem;
  }

  & + & {
    background-color: $color-text-light;
  }

  &:hover,
  &:active {
    box-shadow: 0 0 0 0.2rem $color-text-light inset !important;
    color: $color-text-light !important;
    background-color: $color-primary-shade !important;
  }
}
